# **Data Science Learners Hub**

**Module : SQL**

**Topic :** **Virtual Columns**

**email** : [luckyrathod.forum@gmail.com](mailto:luckyrathod.forum@gmail.com)

### **Virtual Columns**

- Virtual columns, also known as computed columns or generated columns, are a feature available in some relational database systems, including Microsoft SQL Server. These columns are not physically stored in the database but are computed dynamically based on expressions or formulas involving other columns in the table. Virtual columns provide a convenient way to derive values on-the-fly without the need to store redundant or calculated data explicitly.
    
- In Microsoft SQL Server, virtual columns are implemented using the **AS** keyword within the column definition. The computed expression or formula is specified after the **AS** keyword.
    

<span style="font-size: 13px;"><b>Syntax :</b></span>

<span style="font-size: 13px;">CREATE TABLE ExampleTable (</span>

    <span style="font-size: 13px;">&nbsp; &nbsp; Column1 INT,</span>

    <span style="font-size: 13px;">&nbsp; &nbsp; Column2 INT,</span>

    <span style="font-size: 13px;">&nbsp; &nbsp; VirtualColumn AS (Column1 + Column2)</span>

<span style="font-size: 13px;">);</span>

<span style="font-size: 13px;"><br></span>

<span style="font-size: 13px;"><b>Explanation</b> :</span>

- <span style="font-size: 13px;"><p class="p1" style="margin: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-kerning: auto; font-optical-sizing: auto; font-feature-settings: normal; font-variation-settings: normal; font-stretch: normal; line-height: normal;">In the above syntax, the <b>VirtualColumn</b> is a virtual column that is the sum of <b>Column1</b> and <b>Column2</b>.&nbsp;</p></span> 
- The value of **VirtualColumn** is computed dynamically whenever a query retrieves data from the table.

### **Key points about virtual columns:**

1\. **Computed Expression:**

   - The expression used to compute the value of a virtual column can involve mathematical operations, string concatenation, or other SQL functions.

2\. **Data Integrity:**

   - Virtual columns do not physically store data; they are calculated on-the-fly. As a result, there is no need to worry about maintaining consistency between the stored values and the computed values.

3\. **Persistence**:

   - Virtual columns are not stored on disk; they are computed at runtime. As a result, they do not consume additional storage space.

4\. **Indexing:**

   - Depending on the database system and version, virtual columns may or may not be eligible for indexing. Some databases support indexing on virtual columns, allowing for efficient queries based on their computed values.

5\. **Read-Only:**

   - Virtual columns are typically read-only. You can query and retrieve values from them, but you cannot explicitly update or insert values into them. Their values are derived based on the specified expression.

6\. **Use Cases:**

**Note :** 

- Virtual columns are useful for scenarios where you need to perform calculations or derive values based on existing columns without storing redundant data. Examples include computing total amounts, concatenating strings, or calculating date differences.

In [2]:
USE DataScienceLearnersHub

In [3]:
CREATE TABLE Emp_Virtual_Column (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    gender VARCHAR(10),
    salary DECIMAL(10,2),
    department VARCHAR(50)
);

In [4]:
SELECT * FROM Emp_Virtual_Column

-- NOTE : Here we get empty table as we dont have any values inserted

1\. **Example: Concatenating First Name and Last Name as Full Name:**

- In this example, the virtual column \`FullName\` is created by concatenating the "name" and "department" columns. The \`CONCAT\` function is used to concatenate the two strings with a space in between.

In [7]:
ALTER TABLE Emp_Virtual_Column
ADD FullName AS (CONCAT(name, ' ', department));

2\. **Example: Computing Monthly Salary from Annual Salary:**

  

- Here, the virtual column \`MonthlySalary\` is computed by dividing the "salary" column by 12, assuming that the "salary" column represents an annual salary.

In [8]:
ALTER TABLE Emp_Virtual_Column
ADD MonthlySalary AS (salary / 12);

3\. **Example: Determining Seniority Based on Age:**

  

- In this example, the virtual column \`SeniorityStatus\` is determined based on the "age" column. The \`CASE\` statement is used to categorize employees into different seniority levels.

In [9]:
ALTER TABLE Emp_Virtual_Column
ADD SeniorityStatus AS (
    CASE
        WHEN age >= 10 THEN 'Senior'
        WHEN age >= 5 THEN 'Intermediate'
        ELSE 'Junior'
    END
);

-- NOTE : The CASE statement will be discussed in details later as a separate topic

4\. **Example: Generating Employee Email Addresses:**

- Here, the virtual column \`EmailAddress\` is created by concatenating the "name," "id," and a domain to form a basic email address.

In [10]:
ALTER TABLE Emp_Virtual_Column
ADD EmailAddress AS (CONCAT(name, '_', id, '@company.com'));

**Insert rows into** <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Emp_Virtual_Column</span> **table which is presently empty**

In [11]:
INSERT INTO Emp_Virtual_Column (id, name, age, gender, salary, department)
VALUES 
    (1, 'Rajesh', 30, 'Male', 60000.00, 'IT'),
    (2, 'Padma', 25, 'Female', 55000.50, 'HR'),
    (3, 'Laxman', 35, 'Male', 70000.75, 'Finance'),
    (4, 'Ganga', 28, 'Female', 48000.25, 'Marketing'),
    (5, 'Nikhil', 32, 'Male', 72000.00, 'IT'),
    (6, 'Sarita', 29, 'Female', 58000.75, 'HR'),
    (7, 'Bunny', 40, 'Male', 85000.50, 'Finance'),
    (8, 'Namrata', 26, 'Female', 50000.50, 'Marketing'),
    (9, 'Abhiram', 38, 'Male', 78000.25, 'IT'),
    (10, 'Tikram', 31, 'Female', 62000.00, 'Finance'),
    (11, 'Ramulu', 58, 'Male', 178000.25, 'IT'),
    (12, 'Bala', 51, 'Female', 162000.00, 'Finance');

In [12]:
SELECT * FROM Emp_Virtual_Column

-- NOTE :
-- The columns FullName, MonthlySalary, SeniorityStatus, EmailAddress are calculated dynamically even though
-- we are not inserting values for them

id,name,age,gender,salary,department,FullName,MonthlySalary,SeniorityStatus,EmailAddress
1,Rajesh,30,Male,60000.00,IT,Rajesh IT,5000.000000,Senior,Rajesh_1@company.com
2,Padma,25,Female,55000.50,HR,Padma HR,4583.375000,Senior,Padma_2@company.com
3,Laxman,35,Male,70000.75,Finance,Laxman Finance,5833.395833,Senior,Laxman_3@company.com
4,Ganga,28,Female,48000.25,Marketing,Ganga Marketing,4000.020833,Senior,Ganga_4@company.com
5,Nikhil,32,Male,72000.00,IT,Nikhil IT,6000.000000,Senior,Nikhil_5@company.com
6,Sarita,29,Female,58000.75,HR,Sarita HR,4833.395833,Senior,Sarita_6@company.com
7,Bunny,40,Male,85000.50,Finance,Bunny Finance,7083.375000,Senior,Bunny_7@company.com
8,Namrata,26,Female,50000.50,Marketing,Namrata Marketing,4166.708333,Senior,Namrata_8@company.com
9,Abhiram,38,Male,78000.25,IT,Abhiram IT,6500.020833,Senior,Abhiram_9@company.com
10,Tikram,31,Female,62000.00,Finance,Tikram Finance,5166.666666,Senior,Tikram_10@company.com
11,Ramulu,58,Male,178000.25,IT,Ramulu IT,14833.354166,Senior,Ramulu_11@company.com
12,Bala,51,Female,162000.00,Finance,Bala Finance,13500.000000,Senior,Bala_12@company.com

**Note :**

- These examples illustrate how virtual columns can be used to derive values based on existing columns. Keep in mind that the actual expressions used in computed columns will depend on the specific business requirements and the type of calculations or derivations needed. 
- Additionally, check the specific syntax and functions supported by your database management system.