# **Data Science Learners Hub**

**Module : SQL**

**Topic :** Date Functions in SQL

**email** :[datasciencelearnershub@gmail.com](https://github.com/rathodlaxman/DataScienceLearnersHub/blob/50de48da0c8f7145a545dd9942457c8b9cfc8fc5//mailto:datasciencelearnershub@gmail.com)

In [1]:
USE DataScienceLearnersHub

**Create a table tblStudent:**

In [2]:
-- Create below table to practice Date functions
-- Creating the tblStudent table

CREATE TABLE tblStudent (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    course VARCHAR(50),
    date_of_joining DATE,
    age INT,
    city VARCHAR(50)
);

In [3]:
-- Inserting values into tblStudent
INSERT INTO tblStudent (id, name, course, date_of_joining, age, city)
VALUES
    (1, 'Varsha', 'Mathematics', '2022-01-15', 22, 'Mahabubnagar'),
    (2, 'Ananya', 'Physics', '2022-02-20', 25, 'San Hyderabad'),
    (3, 'Harshita', 'Computer Science', '2022-03-10', 23, 'Pune'),
    (4, 'Sai', 'Biology', '2022-04-05', 21, 'Anantapur'),
    (5, 'Aanchal', 'Chemistry', '2022-05-12', 24, 'Bhopal');

In [4]:
SELECT * FROM tblStudent

id,name,course,date_of_joining,age,city
1,Varsha,Mathematics,2022-01-15,22,Mahabubnagar
2,Ananya,Physics,2022-02-20,25,San Hyderabad
3,Harshita,Computer Science,2022-03-10,23,Pune
4,Sai,Biology,2022-04-05,21,Anantapur
5,Aanchal,Chemistry,2022-05-12,24,Bhopal

### **Date Functions in SQL:**

  

- Date Functions in SQL are used to perform operations on date and time data. They can be used to extract parts of a date, perform calculations, and manipulate date values. Some common Date Functions in SQL include:

**\`GETDATE()\`:**

  

- Returns the current date and time.

In [5]:
SELECT GETDATE() AS CurrentDateTime;

CurrentDateTime
2023-12-10 07:24:38.377

**\`DATEPART()\`:**

- Extracts a specific part (such as year, month, day) from a date.
- **Syntax** : SELECT DATEPART(part, date\_expression) AS Result;

In [6]:
SELECT DATEPART(YEAR, date_of_joining) AS JoiningYear FROM tblStudent;
-- In the DATEPART first argument u can also mention MONTH, DAY

JoiningYear
2022
2022
2022
2022
2022

**\`DAY(), MONTH()\` and \`YEAR()\` Functions:**

- Extracts the day, month or year from a date.
- Syntax : SELECT MONTH(date\_expression) AS Month, YEAR(date\_expression) AS Year FROM tblStudent;

In [13]:
SELECT DAY(date_of_joining) AS Day, MONTH(date_of_joining) AS Month, YEAR(date_of_joining) AS Year FROM tblStudent;

Day,Month,Year
15,1,2022
20,2,2022
10,3,2022
5,4,2022
12,5,2022

In [8]:
SELECT DATEPART(MONTH, date_of_joining) AS JoiningYear FROM tblStudent;
SELECT DATEPART(DAY, date_of_joining) AS JoiningYear FROM tblStudent;

JoiningYear
1
2
3
4
5

JoiningYear
15
20
10
5
12

**\`DATEDIFF()\`:**

- Calculates the difference between two dates.
- **Syntax** : SELECT DATEDIFF(part, start\_date, end\_date) AS Result;

In [7]:
SELECT DATEDIFF(YEAR, date_of_joining, GETDATE()) AS YearsSinceJoining FROM tblStudent;
-- The below output is 1 as the currentyear is 2023 so 2023-2022 = 1

YearsSinceJoining
1
1
1
1
1

**\`CONVERT()\` :**

- Converts a date or time value to a specified data type.
- Syntax : SELECT CONVERT(data\_type, expression, style) AS Result;

In [9]:
SELECT CONVERT(VARCHAR, date_of_joining, 103) AS FormattedDate FROM tblStudent;

FormattedDate
15/01/2022
20/02/2022
10/03/2022
05/04/2022
12/05/2022

**\`FORMAT()\` Function (SQL Server 2012 and later):**

- Formats a date or time value based on a specified format.
- Syntax : SELECT FORMAT(date\_expression, format) AS Result;

In [10]:
SELECT FORMAT(date_of_joining, 'dd/MM/yyyy') AS FormattedDate FROM tblStudent;

-- Note : there is some issue with my MS SQL server setup so I am not getting
-- the output but u will be getting in ur setup

: Msg 10347, Level 16, State 1, Line 1
Common Language Runtime(CLR) is not enabled on this instance.

**\`EOMONTH()\` Function:**

- Returns the last day of the month for a given date.
- Syntax : SELECT EOMONTH(date\_expression) AS LastDayOfMonth FROM tblStudent;

In [14]:
SELECT EOMONTH(date_of_joining) AS LastDayOfMonth FROM tblStudent;

LastDayOfMonth
2022-01-31
2022-02-28
2022-03-31
2022-04-30
2022-05-31

### **Peculiarities and Considerations for Date Functions:**

- **Timezone Considerations:** Be aware of the timezone in which your database operates, especially when working with functions that involve the current date and time.
- **Data Type Compatibility:** Ensure that the data types of the columns involved in date operations are compatible.

### **Most Common Mistakes:**

- **Not Handling NULLs:** Date functions may behave unexpectedly if they encounter NULL values. Ensure that columns involved in date operations do not contain NULLs unless handled appropriately.
- **Incorrect Date Formats:** Date literals should be in the correct format accepted by SQL Server (e.g., 'YYYY-MM-DD'). Using an incorrect format can result in errors.
- **Ignoring Time Component:** When working with \`DATE\` data types, be cautious about ignoring the time component if it's relevant to your use case.