# **`Data Science Learners Hub`**

**Module : SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

### **`# MONEY Data Type in SQL`**

### 1. Introduction:

- In SQL, the `MONEY` data type is used to store monetary or currency values. 
- A fixed-precision numeric data type specifically designed to store monetary values.
- Stores values with four decimal places of precision, representing cents or hundredths of a currency unit.
- Useful for financial calculations and storing currency values in databases.

### 2. Key characteristics:
- Storage size: 8 bytes
- Range of values: -922,337,203,685,477.5808 to 922,337,203,685,477.5807
- Precision: 19 digits (4 to the right of the decimal point)

Here's a brief explanation with examples:

### 3. Syntax:

```sql
column_name MONEY
```

In [1]:
USE DataScienceLearnersHub

### 2. Examples:

#### Creating a Table with a `MONEY` Column:

In [ ]:
CREATE TABLE Sales (
    SaleID INT PRIMARY KEY,
    ProductName VARCHAR(50),
    SaleAmount MONEY
);

-- Inserting Data
INSERT INTO Sales (SaleID, ProductName, SaleAmount)
VALUES (1, 'Product A', 150.25),
       (2, 'Product B', 99.50),
       (3, 'Product C', 299.75);

#### Querying Data with `MONEY`:

In [2]:
-- Selecting all sales
SELECT * FROM Sales;

SaleID,ProductName,Category,SaleAmount,SaleDate
1,Product A,Electronics,500.00,2023-01-01
2,Product B,Clothing,300.00,2023-01-02
3,Product C,Electronics,800.00,2023-01-03
4,Product D,Clothing,450.00,2023-01-04
5,Product E,Electronics,700.00,2023-01-05

In [3]:
-- Calculating total sales
SELECT SUM(SaleAmount) AS TotalSales FROM Sales;

TotalSales
2750.00

In [4]:
-- Filtering sales above a certain amount
SELECT * FROM Sales WHERE SaleAmount > 100.00;

SaleID,ProductName,Category,SaleAmount,SaleDate
1,Product A,Electronics,500.00,2023-01-01
2,Product B,Clothing,300.00,2023-01-02
3,Product C,Electronics,800.00,2023-01-03
4,Product D,Clothing,450.00,2023-01-04
5,Product E,Electronics,700.00,2023-01-05

### 3. Importance:

- **Precision:** The `MONEY` data type is appropriate for financial calculations that require fixed-point precision.

### 4. Considerations:

- **Avoid Floating Point:** It is preferable to use `MONEY` instead of `FLOAT` or `REAL` for financial data because floating-point types can lead to precision errors.

* While money is useful for financial data, it doesn't store currency symbols or information about specific currencies.
* For more complex financial calculations or currency conversions, you might consider using the decimal data type with appropriate precision and scale.
* If you need to store a wide range of values, but don't require as much precision, you might consider using the smallmoney data type, which uses 4 bytes of storage.

### 5. Common Mistakes:

- **Incorrect Rounding:** Developers should be cautious about rounding errors that may occur in financial calculations. It's often a good practice to round values to the necessary precision.

### 6. Practical Application:

- **Financial Systems:** The `MONEY` data type is commonly used in financial applications such as accounting systems, where precise representation of currency values is critical.

### 7. Example:

Let's say we have a `Sales` table:

| SaleID | ProductName | SaleAmount |
| ------ | ----------- | ---------- |
| 1      | Product A   | 150.25     |
| 2      | Product B   | 99.50      |
| 3      | Product C   | 299.75     |

- **Total Sales Calculation:**
  ```sql
  SELECT SUM(SaleAmount) AS TotalSales FROM Sales;
  -- Output: TotalSales
  --         549.50
  ```

- **Filtering Sales Above $100:**
  ```sql
  SELECT * FROM Sales WHERE SaleAmount > 100.00;
  -- Output:
  -- | SaleID | ProductName | SaleAmount |
  -- | ------ | ----------- | ---------- |
  -- | 1      | Product A   | 150.25     |
  -- | 3      | Product C   | 299.75     |
  ```

This demonstrates how the `MONEY` data type can be used to store and manipulate monetary values in a SQL database.