# **Data Science Learners Hub**

**Module : SQL**

**Topic :** <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-weight: 600;">Math Functions</span>

**email** : [luckyrathod.forum@gmail.com](mailto:luckyrathod.forum@gmail.com)

### **What are Math Functions in SQL?**

  

- Math functions in SQL are operations or functions that perform mathematical calculations on numeric data types. These functions allow you to perform various mathematical operations, such as addition, subtraction, multiplication, division, rounding, and more, on numeric values stored in the database.

In [3]:
USE DataScienceLearnersHub

In [4]:
SELECT * FROM employeeDetails

id,name,gender,salary,department,FullName,MonthlySalary,EmailAddress,age
1,Laxman,Male,5000,Sales,Laxman Sales,416,Laxman_1@company.com,27
2,Padma,Female,6000,Finance,Padma Finance,500,Padma_2@company.com,33
3,Naina,Female,7500,IT,Naina IT,625,Naina_3@company.com,41
4,Ramulu,Male,6500,HR,Ramulu HR,541,Ramulu_4@company.com,36
5,Harshita,Female,5500,Marketing,Harshita Marketing,458,Harshita_5@company.com,30
6,Rajesh,Male,8000,Sales,Rajesh Sales,666,Rajesh_6@company.com,44
7,Tikram,Male,7200,Finance,Tikram Finance,600,Tikram_7@company.com,40
8,Ganga,Female,6600,IT,Ganga IT,550,Ganga_8@company.com,36
9,Jamuna,Female,5400,HR,Jamuna HR,450,Jamuna_9@company.com,30
10,Namrata,Female,6300,Marketing,Namrata Marketing,525,Namrata_10@company.com,35
11,Bunny,Male,5700,Sales,Bunny Sales,475,Bunny_11@company.com,31
12,Abhiram,Male,7000,Finance,Abhiram Finance,583,Abhiram_12@company.com,38
13,Varsha,Female,7100,IT,Varsha IT,591,Varsha_13@company.com,39
14,Ananya,Female,6800,HR,Ananya HR,566,Ananya_14@company.com,37
15,Nikhil,Male,5000,Marketing,Nikhil Marketing,416,Nikhil_15@company.com,27
16,Bala,Female,5800,HR,Bala HR,483,Bala_16@company.com,32
17,Lax%man,Male,5000,Sales,Lax%man Sales,416,Lax%man_17@company.com,27
18,Lucky143,Male,20000,IT,Lucky143 IT,1666,Lucky143_18@company.com,111

### **Different Types of Math Functions / operations in SQL with Examples:**

**<u>Basic Arithmetic Functions:</u>**

**Addition (\`+\`):**

In [4]:
SELECT TOP 5 name, salary + MonthlySalary AS TotalIncome
FROM employeeDetails;

name,TotalIncome
Laxman,5416
Padma,6500
Naina,8125
Ramulu,7041
Harshita,5958

**Subtraction (\`-\`):**

In [5]:
SELECT TOP 5 name, salary - MonthlySalary AS NetIncome
FROM employeeDetails;

name,NetIncome
Laxman,4584
Padma,5500
Naina,6875
Ramulu,5959
Harshita,5042

**Multiplication (\`\*\`):**

In [7]:
SELECT TOP 5 name, salary * 12 AS AnnualSalary
FROM employeeDetails;

name,AnnualSalary
Laxman,60000
Padma,72000
Naina,90000
Ramulu,78000
Harshita,66000

**Division (\`/\`):**

In [8]:
SELECT TOP 5 name, salary / 12 AS MonthlyAverageSalary
FROM employeeDetails;

name,MonthlyAverageSalary
Laxman,416
Padma,500
Naina,625
Ramulu,541
Harshita,458

### **Rounding Functions:**

**ROUND()**: Rounds a numeric expression to the specified number of decimal places.

In [10]:
SELECT TOP 5 name, ROUND(MonthlySalary * 1.1, 2) AS IncreasedSalary
FROM employeeDetails;

name,IncreasedSalary
Laxman,457.6
Padma,550.0
Naina,687.5
Ramulu,595.1
Harshita,503.8

**CEILING()**

In [12]:
SELECT TOP 5 name, CEILING(salary / 1000.0) AS ThousandMultiplier
FROM employeeDetails;

name,ThousandMultiplier
Laxman,5
Padma,6
Naina,8
Ramulu,7
Harshita,6

**FLOOR()**

In [13]:
SELECT TOP 5 name, FLOOR(MonthlySalary / 100) AS HundredDivider
FROM employeeDetails;

name,HundredDivider
Laxman,4
Padma,5
Naina,6
Ramulu,5
Harshita,4

### **Power and Square Root Functions:**

**POWER()**

In [14]:
SELECT TOP 5 name, POWER(age, 2) AS AgeSquared
FROM employeeDetails;

name,AgeSquared
Laxman,729
Padma,1089
Naina,1681
Ramulu,1296
Harshita,900

**SQRT()**

In [15]:
SELECT TOP 5 name, SQRT(MonthlySalary) AS MonthlySalarySquareRoot
FROM employeeDetails;

name,MonthlySalarySquareRoot
Laxman,20.396078054371138
Padma,22.360679774997898
Naina,25
Ramulu,23.259406699226016
Harshita,21.400934559032695

### **Some more Math functions**

**ABS() - Absolute Value Function:**

- Returns the absolute (positive) value of a numeric expression.

In [1]:
SELECT ABS(-15) AS AbsoluteValue;

AbsoluteValue
15

**SIGN() - Sign Function:**

- Returns the sign of a numeric expression (1 for positive, 0 for zero, -1 for negative

In [6]:
SELECT TOP 5 SIGN(salary - 2000) AS FinancialStatus FROM employeeDetails;

FinancialStatus
1
1
1
1
1

**EXP() - Exponential Function:**

   \- Returns the exponential value of a numeric expression.

In [7]:
SELECT EXP(2) AS ExponentialValue;

ExponentialValue
7.38905609893065

**LOG() - Natural Logarithm Function:**

   \- Returns the natural logarithm of a specified number.

In [8]:
SELECT LOG(10) AS NaturalLogarithm;

NaturalLogarithm
2.302585092994046

**LOG10() - Base-10 Logarithm Function:**

   \- Returns the base-10 logarithm of a specified number.

In [9]:
SELECT LOG10(100) AS LogBase10;

LogBase10
2

**PI() - Pi Function:**

   \- Returns the mathematical constant pi (π).

In [10]:
SELECT PI() AS PiValue;

PiValue
3.141592653589793

**RAND() - Random Number Function:**

   - Returns a random float value between 0 and 1.

In [11]:
SELECT RAND() AS RandomValue;

RandomValue
0.23221384062995562

### **Peculiarities and Considerations for Math Functions:**

- **Data Type Compatibility:** Ensure that the data types used in math functions are compatible to avoid unexpected results or errors.
- **Precision and Scale**: Be mindful of precision and scale when dealing with numeric calculations. Rounding may be necessary to control the number of decimal places.
- **Divide by Zero**: Be cautious about dividing by zero, as it can lead to runtime errors. Use appropriate checks or handle such scenarios.

### **Most Common Mistakes while Using Math Functions:**

- **Divide by Zero**: Forgetting to check for zero denominators when performing division.
- **Data Type Mismatch:** Ensuring that the data types of the operands are compatible with the intended operation.
- **Order of Operations:** Understanding the order in which operations are executed in a query and using parentheses to control the sequence if needed.
- **Rounding Errors:** Being aware of potential rounding errors, especially when dealing with floating-point numbers.