# **Data Science Learners Hub**

**Module : SQL**

**Created Date** : 03 Dec 2023

**Topic :** Disabling and Enabling Constraints

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

#### What is a constraint ?

Constraints are <mark>rules applied to columns</mark> in a table <mark>to ensure the integrity, accuracy, and reliability of the data</mark> within the database.

#### Commonly Used SQL Constraints (Microsoft SQL Server)



| Constraint    | Syntax                         | One-Line Explainer                                      | Peculiarities/Considerations                                  |
|---------------|--------------------------------|---------------------------------------------------------|--------------------------------------------------------------|
| `PRIMARY KEY` | `PRIMARY KEY (column)`         | Uniquely identifies each record in a table.             | Only one primary key allowed per table; <mark>**can be a combination of columns (composite key)**</mark>. |
| `FOREIGN KEY` | `FOREIGN KEY (column) REFERENCES table(column)` | Ensures referential integrity by linking to the primary key in another table. | <mark>**Values must match values in the referenced primary key column or be NULL.**</mark> |
| `UNIQUE`      | `UNIQUE (column)`              | Ensures all values in a column are unique.              | <mark>**Multiple unique constraints allowed per table; can include NULL values.**</mark> |
| `NOT NULL`    | `column datatype NOT NULL`     | Ensures a column cannot have NULL values.               | <mark>**Must be defined at column creation or altered later.**</mark>         |
| `CHECK`       | `CHECK (condition)`            | Ensures all values in a <mark>**column meet a specific condition.**</mark> | <mark>**Can include expressions involving multiple columns.**</mark>           |
| `DEFAULT`     | `column datatype DEFAULT value`| <mark>**Sets a default value for a column if no value is specified.**</mark> | Useful for setting common default values (e.g., status = 'active'). |
| `INDEX`       | `CREATE INDEX index_name ON table(column)` | <mark>**Improves the speed of data retrieval.**</mark>                   | <mark>**Indexes can be unique or non-unique; affects performance on insert/update/delete operations.**</mark> |

In [1]:
USE DataScienceLearnersHub

### **Sample Table with Data and Constraints in SQL Server**

#### Table Creation

In [3]:
CREATE TABLE Employees_Constraints (
    EmployeeID INT PRIMARY KEY,
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Email NVARCHAR(100) UNIQUE,
    HireDate DATE DEFAULT GETDATE(),
    DepartmentID INT,
    Salary DECIMAL(10, 2),
    CONSTRAINT CHK_Salary CHECK (Salary > 0),
    CONSTRAINT FK_Department FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
);

### **Explanation of Each Constraint**

1. **PRIMARY KEY (EmployeeID)**:
   - **Explanation**: Ensures each employee has a unique identifier.
   - **Peculiarities**: Only one primary key per table; `EmployeeID` must be unique and not NULL.

2. **NOT NULL (FirstName, LastName)**:
   - **Explanation**: Ensures that these fields cannot be left empty.
   - **Peculiarities**: Mandatory values required during insertion.

3. **UNIQUE (Email)**:
   - **Explanation**: Ensures no two employees can have the same email address.
   - **Peculiarities**: Allows only one NULL value (if not specified as NOT NULL).

4. **DEFAULT (HireDate)**:
   - **Explanation**: Automatically sets the hire date to the current date if not provided.
   - **Peculiarities**: Simplifies data entry by providing default values.

5. **CHECK (Salary > 0)**:
   - **Explanation**: Ensures salary values must be greater than zero.
   - **Peculiarities**: Prevents invalid data from being entered.

6. **FOREIGN KEY (DepartmentID)**:
   - **Explanation**: Links the `DepartmentID` in `Employees` table to the `Departments` table, ensuring referential integrity.
   - **Peculiarities**: `DepartmentID` values must match an existing `DepartmentID` in the `Departments` table or be NULL.

### **Inserting Data**

In [4]:
-- Insert into Departments table for Foreign Key reference
INSERT INTO Departments (DepartmentID, DepartmentName) VALUES (1, 'HR'), (2, 'Engineering');

In [5]:
-- Insert data into Employees table
INSERT INTO Employees_Constraints (EmployeeID, FirstName, LastName, Email, DepartmentID, Salary) VALUES
(1, 'John', 'Doe', 'john.doe@example.com', 1, 50000.00),
(2, 'Jane', 'Smith', 'jane.smith@example.com', 2, 60000.00),
(3, 'Alice', 'Johnson', 'alice.j@example.com', NULL, 45000.00);

### **Explanation of Data Insertion with Constraints**

1. **PRIMARY KEY**: Each `EmployeeID` is unique (1, 2, 3).
2. **NOT NULL**: `FirstName` and `LastName` are provided for all rows.
3. **UNIQUE**: Each `Email` is unique.
4. **DEFAULT**: `HireDate` is automatically set to the current date if not specified.
5. **CHECK**: `Salary` values are all greater than 0.
6. **FOREIGN KEY**: `DepartmentID` values either match an existing department (1, 2) or are NULL.

In [2]:
CREATE DATABASE DataScienceLearnersHub

In [3]:
USE DataScienceLearnersHub

In [4]:
CREATE TABLE TestConstraints(
    emp_id INT NOT NULL UNIQUE CHECK(emp_id > 100),
    emp_name CHAR(50) NOT NULL,
    emp_salary INT CHECK(emp_salary > 10000)
)

In [5]:
INSERT INTO TestConstraints VALUES (101,'laxman', 100000)

In [6]:
-- Now here we are trying to insert emp_id whose value is less than 100

INSERT INTO TestConstraints VALUES (10,'rajesh', 100000)

-- NOTE :
-- We get error here because while creating TestConstraints table we had mentioned CHECK(emp_id > 100)

: Msg 547, Level 16, State 0, Line 3
The INSERT statement conflicted with the CHECK constraint "CK__TestConst__emp_i__37A5467C". The conflict occurred in database "DataScienceLearnersHub", table "dbo.TestConstraints", column 'emp_id'.

In [7]:
-- After executing the below query we will be able to bypass the CHECK
ALTER TABLE TestConstraints NOCHECK CONSTRAINT ALL;

In [8]:
INSERT INTO TestConstraints VALUES (10,'rajesh', 100000)

-- NOTE : Here we are able to insert a row with emp_id value < 100

In [9]:
-- To re-enable the CHECK constraint
ALTER TABLE TestConstraints CHECK CONSTRAINT ALL;

In [10]:
-- After enabling check constraint now again it will not allow emp_id < 100 and give error
INSERT INTO TestConstraints VALUES (26,'Naina', 100000)

: Msg 547, Level 16, State 0, Line 2
The INSERT statement conflicted with the CHECK constraint "CK__TestConst__emp_i__37A5467C". The conflict occurred in database "DataScienceLearnersHub", table "dbo.TestConstraints", column 'emp_id'.