# **`Data Science Learners Hub`**

**Module : SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

### **`# CASE Statement and IFF Statement in SQL`**

**1\. Introduction:**

The CASE and IIF(Inline IF) statements in MS SQL Server are powerful tools for conditional logic, allowing you to perform different actions based on specified conditions. These statements enhance the flexibility of your SQL queries by providing a way to handle various scenarios.

**2\. Why Learn This Topic:**

Learning the CASE and IIF statements is essential for SQL developers as it enables them to create dynamic queries that respond to specific conditions. This is particularly useful when you need to transform or filter data based on different criteria.

**3\. Real-world Applications:**

Consider a scenario where you have a database of employees, and you need to categorize them based on their salaries. You can use the CASE statement to create salary brackets or use the IIF statement to quickly categorize employees as high or low earners based on a threshold.

**4\. Syntax:**

**a. CASE Statement:**

```
SELECT
    column1,
    column2,
    CASE
        WHEN condition1 THEN result1
        WHEN condition2 THEN result2
        ELSE default_result
    END AS new_column
FROM
    your_table;

```

Example:

```
SELECT
    EmployeeID,
    EmployeeName,
    Salary,
    CASE
        WHEN Salary > 50000 THEN 'High Earner'
        WHEN Salary <= 50000 THEN 'Low Earner'
        ELSE 'Unknown'
    END AS SalaryCategory
FROM
    Employees;

```

**b. IIF Statement:**

```
SELECT
    column1,
    column2,
    IIF(condition, true_result, false_result) AS new_column
FROM
    your_table;

```

Example:

```
SELECT
    EmployeeID,
    EmployeeName,
    Salary,
    IIF(Salary > 50000, 'High Earner', 'Low Earner') AS SalaryCategory
FROM
    Employees;

```

**5\. Practical Applications:**

- Data Transformation: Converting data based on specific conditions.
    
- Report Generation: Creating reports with custom categorizations.
    
- Business Logic Implementation: Applying business rules for decision-making.
    

**6\. Considerations:**

- The CASE statement is more flexible and allows for multiple conditions, while the IIF statement is a concise version suitable for simple conditions.
    
- Ensure that the result types for each branch of the CASE or IIF statement are compatible.
    
- CASE can be more performant for complex scenarios.
    

**7\. Common Mistakes:**

- Forgetting the ELSE or END clause in the CASE statement, which might lead to unexpected results.
    
- Using the IIF statement for complex conditions where the CASE statement would be more appropriate.
    
- Nested Conditions: Careless nesting of conditions can lead to confusion.
    
- Data Type Mismatch: Ensure consistent data types for results in each branch.

**8. Hands-on Experience:**

Let's create a sample table and explore the use of CASE and IIF statements:

In [2]:
USE DataScienceLearnersHub

In [3]:
DROP TABLE Employees

In [4]:
-- Creating a Sample Table
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    EmployeeName VARCHAR(50),
    Salary DECIMAL(10, 2)
);

-- Inserting Sample Data
INSERT INTO Employees VALUES (1, 'Laxman Rathod', 50000.00);
INSERT INTO Employees VALUES (2, 'Ashwanth B', 60000.00);
INSERT INTO Employees VALUES (3, 'Dasarath K', 45000.00);

SELECT * FROM Employees

EmployeeID,EmployeeName,Salary
1,Laxman Rathod,50000.00
2,Ashwanth B,60000.00
3,Dasarath K,45000.00

**Questions Based on the Table:**

**Q1. Use CASE for Categorization:**
   - Create a query that uses the CASE statement to categorize employees into 'Junior' and 'Senior' based on their salary (e.g., Junior if Salary < 50000, Senior otherwise).

In [5]:
-- Executing Query
SELECT
    EmployeeID,
    EmployeeName,
    Salary,
    CASE
        WHEN Salary < 50000 THEN 'Junior'
        ELSE 'Senior'
    END AS EmployeeCategory
FROM
    Employees;

EmployeeID,EmployeeName,Salary,EmployeeCategory
1,Laxman Rathod,50000.00,Senior
2,Ashwanth B,60000.00,Senior
3,Dasarath K,45000.00,Junior

**Q2. Use IIF for High Earners:**
   - Create a query that uses the IIF statement to identify employees with a salary greater than 55000 as 'High Earner' and 'Normal Earner' otherwise.

In [6]:
-- Executing Query
SELECT
    EmployeeID,
    EmployeeName,
    Salary,
    IIF(Salary > 55000, 'High Earner', 'Normal Earner') AS EarnerCategory
FROM
    Employees;

EmployeeID,EmployeeName,Salary,EarnerCategory
1,Laxman Rathod,50000.00,Normal Earner
2,Ashwanth B,60000.00,High Earner
3,Dasarath K,45000.00,Normal Earner

**9. Homework Assignment:**

1. **Advanced CASE Statement:**
   - Create a query that uses the CASE statement to categorize employees into 'Junior,' 'Intermediate,' and 'Senior' based on their years of experience (create a fictional 'Experience' column).

2. **Nested IIF Statements:**
   - Write a query that uses nested IIF statements to categorize employees into 'A,' 'B,' and 'C' based on their performance ratings.

3. **CASE Statement with NULL Handling:**
   - Modify the first question to handle NULL values in the Salary column gracefully, considering them as a separate category.

4. **IIF Statement with Multiple Conditions:**
   - Enhance the second question by adding another condition to categorize employees with a salary greater than 60000 as 'Very High Earner.'

5. **Dynamic Categorization:**
   - Explore the use of dynamic categorization in a query using both CASE and IIF statements based on user input parameters.

**10. Some Facts:**

- The CASE statement can be used in various contexts, such as SELECT, WHERE, and ORDER BY clauses.
- IIF is a shorthand version of the CASE statement introduced in SQL Server 2012.
- While both statements are powerful, the choice between them depends on the complexity of your conditions and your preference for concise or explicit syntax.