# **Data Science Learners Hub**

**Module : SQL**

**Topic :** HAVING Clause

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

In [1]:
USE DataScienceLearnersHub

### **1\. Create a simple table:**

### 

- Let's create a table called \`Orders\` to illustrate examples for the HAVING clause.

In [3]:
CREATE TABLE tblOrders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    TotalAmount DECIMAL(10, 2)
);

### **2\. Insert queries:**

  

- Insert some sample data into the table:

In [5]:
INSERT INTO tblOrders VALUES (1, 101, '2023-01-01', 500.00);
INSERT INTO tblOrders VALUES (2, 102, '2023-01-02', 300.00);
INSERT INTO tblOrders VALUES (3, 101, '2023-01-03', 800.00);
INSERT INTO tblOrders VALUES (4, 103, '2023-01-04', 450.00);
INSERT INTO tblOrders VALUES (5, 102, '2023-01-05', 700.00);

In [6]:
SELECT * FROM tblOrders

OrderID,CustomerID,OrderDate,TotalAmount
1,101,2023-01-01,500.00
2,102,2023-01-02,300.00
3,101,2023-01-03,800.00
4,103,2023-01-04,450.00
5,102,2023-01-05,700.00

### **3\. HAVING Clause in MS SQL Server:**

  

- The \`HAVING\` clause is used in combination with the \`GROUP BY\` clause to filter the results of a query based on aggregate conditions.
- It is specifically used to filter groups of rows returned by a \`GROUP BY\` clause.
-

### **4\. Examples of HAVING Clause uses:**

**a. Simple HAVING:**

- This query will return the average total amount for each customer, but only for those customers whose average total amount is greater than 500.

In [8]:
SELECT CustomerID, AVG(TotalAmount) AS AvgAmount
FROM tblOrders
GROUP BY CustomerID
HAVING AVG(TotalAmount) > 500;

CustomerID,AvgAmount
101,650.000000

**b. HAVING with COUNT:**

- This query will show customers who have placed at least 2 orders.

In [9]:
SELECT CustomerID, COUNT(OrderID) AS OrderCount
FROM tblOrders
GROUP BY CustomerID
HAVING COUNT(OrderID) >= 2;

CustomerID,OrderCount
101,2
102,2

### **5\. Practical application of HAVING Clause:**

  

- Practically, the \`HAVING\` clause is commonly used in scenarios where you want to filter aggregated results. 
- **Real-World Applications:**
    - **Retail**: Identifying profitable product categories, monitoring low-stock items.
    - **Finance**: Filtering investment portfolios by average return and risk.
    - **Marketing**: Targeting ad campaigns based on customer demographics and purchase behavior.

### **6\. Peculiarities and Considerations:**

  

- The \`HAVING\` clause is applied after the \`GROUP BY\` clause.
- It operates on aggregated data, so it's essential to use it with aggregate functions.
- Conditions in the \`HAVING\` clause can involve any aggregate function.
- **Be mindful of NULL values:** They may affect your HAVING conditions like unexpected guests.
- **Don't confuse HAVING with WHERE:** Use WHERE to filter individual rows before grouping, HAVING to filter groups after.

### **7\. Common mistakes:**

  

- Forgetting to use the \`GROUP BY\` clause before \`HAVING\`.
- Incorrectly referencing columns in the \`HAVING\` clause.
- Using column aliases defined in the \`SELECT\` clause directly in the \`HAVING\` clause (this might not work in all database systems).
- Mixing non-aggregated columns with HAVING conditions

### **8\. Misc Points**

- sd