# **Data Science Learners Hub**

**Module : SQL**

**Topic :** **DROP Command**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

## **# DROP Command**

In [2]:
USE DataScienceLearnersHub

In [3]:
SELECT table_name
FROM information_schema.tables
WHERE table_type = 'BASE TABLE';

-- NOTE : In the below output there is already Employees table so we will create a new table with name Employee

table_name
TestConstraints
employeeDetails
Emp
Emp_Temp
TEmp
Emp_Virtual_Column
Employees
customers
orders
products
tblStudent
StudentScores
Sales
tblOrders
tblSalesData
tblEmployeesNew
Student

### **1. Create a simple table to illustrate examples for DROP Command**

In [4]:
-- Create a simple table
CREATE TABLE Employee (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);

### 2. **Generate insert queries to insert values into the newly created table**

In [7]:
-- Insert values into the Employee table
INSERT INTO Employee (EmployeeID, FirstName, LastName, Department)
VALUES
    (1, 'Laxman', 'Rathod', 'IT'),
    (2, 'Padma', 'Chauhan', 'HR'),
    (3, 'Vandana', 'Singh', 'Finance');

In [8]:
SELECT * FROM Employee

EmployeeID,FirstName,LastName,Department
1,Laxman,Rathod,IT
2,Padma,Chauhan,HR
3,Vandana,Singh,Finance

### **3. Understanding DROP Commands**

**Purpose**: Permanently remove database objects like tables, views, indexes, etc.

**Key Point**: Data deletion is usually irreversible, so use with caution.

### 4. **Common DROP Commands**

#### a. DROP TABLE
```sql
-- Syntax
DROP TABLE table_name;

-- Example
DROP TABLE Employee;
```

#### b. DROP INDEX
```sql
-- Syntax
DROP INDEX index_name ON table_name;

-- Example
DROP INDEX IX_Employee_Department ON Employee;
```

#### c. DROP CONSTRAINT
```sql
-- Syntax
ALTER TABLE table_name
DROP CONSTRAINT constraint_name;

-- Example
ALTER TABLE Employee
DROP CONSTRAINT PK_EmployeeID;
```

#### c. DROP VIEW
```sql
-- Syntax
DROP VIEW view_name;

-- Example
DROP VIEW SomeExistingViewInDb
```

#### d. DROP PROCEDURE
```sql
-- Syntax
DROP PROCEDURE SomeExistingProcedureInDb;

-- Example
DROP PROCEDURE SomeExistingProcedureInDb
```

#### e. DROP FUNCTION
```sql
-- Syntax
DROP FUNCTION SomeExistingFunctionInDb;

-- Example
DROP FUNCTION SomeExistingFunctionInDb
```

### **5. Practical applications**

- **Removing Unused/ Obsolete Tables:** When tables are no longer needed, they can be dropped to free up space.
- **Dropping Indexes:** In cases where an index is no longer beneficial or needs to be replaced.
- **Dropping Constraints:** When constraints are modified or no longer necessary.
- Reorganizing database structure for efficiency or maintainability.
- Deleting temporary objects after their purpose is fulfilled.

### **6. Peculiarities and Considerations**

- **Irreversibility:** DROP commands are generally irreversible, and dropped objects cannot be recovered without a backup.
- **Dependencies:** Be cautious of dependencies to avoid unintentional drops of objects referenced by others
- **Permissions:** Ensure you have necessary permissions to drop objects.

### **7. Most common mistakes**

- **Forgetting WHERE Clause:** When using `DELETE` without a `WHERE` clause, it deletes all rows. This is different from `DROP TABLE` which removes the entire table structure.
- **Dropping Tables Without Checking Dependencies:** Not checking for dependencies before dropping a table or other objects.
- **Dropping the wrong object**: Double-check object names before dropping.
- **Not considering dependencies**: Identify and address dependencies beforehand.
- **Forgetting backups**: Back up databases before significant deletions.

### **8. Hands On**

#### Question 1:
Drop the table named `Employee`.

#### Solution:
```sql
DROP TABLE Employee;
```

#### Question 2:
Remove the primary key constraint named `PK_EmployeeID` from the table `Employee`.

#### Solution:
```sql
ALTER TABLE Employee
DROP CONSTRAINT PK_EmployeeID;
```

#### Question 3:
Drop the index named `IX_Employee_Department` from the table `Employee`.

#### Solution:
```sql
DROP INDEX IX_Employee_Department ON Employee;
```

### **9. Practice Questions**

#### Question 1:
Drop the table named `Employee`.

#### Question 2:
Remove the primary key constraint named `PK_EmployeeID` from the table `Employee`.

#### Question 3:
Drop the index named `IX_Employee_Department` from the table `Employee`.