# **Data Science Learners Hub**
**Module : SQL**
**Topic :** **WITH statements also known as** <span style="color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;; font-size: 13px;"><b>Common Table Expression (CTE)</b></span>
**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

## **# WITH statements als known as Common Table Expression (CTE)**

In [1]:
USE DataScienceLearnersHub

### 1. Create a simple table to illustrate examples for WITH Statement

In [5]:
-- Create a simple table
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    ProductName VARCHAR(50),
    Quantity INT,
    Price DECIMAL(10, 2)
);

In [11]:
-- Create Employees table
CREATE TABLE EmployeesforWithdemo (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    ManagerID INT
);

### 2. Generate insert queries to insert values into the newly created table

In [6]:
-- Insert values into the Orders table
INSERT INTO Orders (OrderID, ProductName, Quantity, Price)
VALUES
    (1, 'Laptop', 2, 1200.00),
    (2, 'Desk', 1, 150.00),
    (3, 'Chair', 4, 80.00),
    (4, 'Phone', 3, 500.00),
    (5, 'Headphones', 2, 50.00);

In [13]:
-- Insert data into EmployeesforWithdemo table
INSERT INTO EmployeesforWithdemo (EmployeeID, FirstName, LastName, ManagerID)
VALUES
    (1, 'Laxman', 'Rathod', NULL),
    (2, 'Rajesh', 'Rathod', 1),
    (3, 'Padma', 'Chauhan', 2),
    (4, 'Sarita', 'Pawar', 2),
    (5, 'Vijaylaxmi', 'K', 1),
    (6, 'Hari', 'Singh', 3),
    (7, 'Abhiram', 'A', 3),
    (8, 'Ganga', 'A', 4),
    (9, 'Kishan', 'M', 4),
    (10, 'Naresh', 'M', 5);

In [7]:
SELECT * FROM Orders

OrderID,ProductName,Quantity,Price
1,Laptop,2,1200.00
2,Desk,1,150.00
3,Chair,4,80.00
4,Phone,3,500.00
5,Headphones,2,50.00

In [16]:
SELECT * FROM EmployeesforWithdemo

EmployeeID,FirstName,LastName,ManagerID
1,Laxman,Rathod,NULL
2,Rajesh,Rathod,1
3,Padma,Chauhan,2
4,Sarita,Pawar,2
5,Vijaylaxmi,K,1
6,Hari,Singh,3
7,Abhiram,A,3
8,Ganga,A,4
9,Kishan,M,4
10,Naresh,M,5

### 3. Understanding the WITH Statement:

- In SQL, the WITH statement, also known as a Common Table Expression (CTE), is used to define a temporary result set that can be referred to within the context of a SELECT, INSERT, UPDATE, or DELETE statement.

- It's like creating temporary tables on the fly, but without the overhead of physical storage.
- CTEs can be used multiple times within the same query, making complex queries more readable and maintainable.

### 4. Types of WITH Statements

#### a. Simple CTE or Non-Recursive CTEs

- Used for simpler scenarios, acting as temporary tables within a query.

```sql
-- Syntax
WITH CTE_Name (Column1, Column2, ...) AS (
    SELECT Column1, Column2, ...
    FROM YourTable
)
SELECT *
FROM CTE_Name;
```

In [8]:
-- Example
WITH OrderCTE (ProductName, TotalPrice) AS (
    SELECT ProductName, Quantity * Price AS TotalPrice
    FROM Orders
)
SELECT *
FROM OrderCTE;

ProductName,TotalPrice
Laptop,2400.00
Desk,150.00
Chair,320.00
Phone,1500.00
Headphones,100.00

#### b. Recursive CTEs

- Allow self-referencing, enabling hierarchical data processing (e.g., tree structures, adjacency lists).

```sql
-- Syntax
WITH RecursiveCTE (Column1, Column2, ...) AS (
    SELECT AnchorQuery
    UNION ALL
    SELECT RecursiveQuery
    FROM RecursiveCTE
    WHERE Condition
)
SELECT *
FROM RecursiveCTE;
```

In [14]:
-- Example
WITH RecursiveEmployeeCTE (ManagerID, EmployeeID, EmployeeName, Level) AS (
    SELECT NULL, EmployeeID, FirstName + ' ' + LastName, 0
    FROM EmployeesforWithdemo
    WHERE ManagerID IS NULL
    UNION ALL
    SELECT e.ManagerID, e.EmployeeID, e.FirstName + ' ' + e.LastName, c.Level + 1
    FROM EmployeesforWithdemo e
    INNER JOIN RecursiveEmployeeCTE c ON e.ManagerID = c.EmployeeID
)
SELECT *
FROM RecursiveEmployeeCTE;

ManagerID,EmployeeID,EmployeeName,Level
NULL,1,Laxman Rathod,0
1,2,Rajesh Rathod,1
1,5,Vijaylaxmi K,1
5,10,Naresh M,2
2,3,Padma Chauhan,2
2,4,Sarita Pawar,2
4,8,Ganga A,3
4,9,Kishan M,3
3,6,Hari Singh,3
3,7,Abhiram A,3

### 5. Practical Applications :

- **Data Transformation:** Simplifying complex data transformations by breaking them into manageable steps.
- **Recursive Queries:** Handling hierarchical or tree-structured data, such as organizational charts or bill of materials.
- **Code Readability:** Improving code readability by organizing complex queries into named CTEs
- Reusing intermediate results multiple times.

### 6. Considerations

- **Scope:** CTEs are only accessible within the statement in which they are defined.
- **Performance:** Proper indexing and optimization are crucial for optimal performance.
- Use recursion carefully to avoid infinite loops.

### 7. Most common mistakes done while using WITH Statements

- **Incorrect Syntax:** Missing or misplacing keywords like WITH, AS, SELECT, UNION ALL in the CTE definition.
- **Unoptimized Recursive Queries:** Recursive CTEs should be used cautiously to avoid performance issues, especially in large datasets.
- Trying to reference a CTE outside its scope.
- Creating overly complex or inefficient CTEs.

### 8. Hands On

#### Question 1:
Create a CTE named `TotalOrdersCTE` to calculate the total price for each product.

#### Solution:

In [9]:
WITH TotalOrdersCTE (ProductName, TotalPrice) AS (
    SELECT ProductName, Quantity * Price AS TotalPrice
    FROM Orders
)
SELECT *
FROM TotalOrdersCTE;

ProductName,TotalPrice
Laptop,2400.00
Desk,150.00
Chair,320.00
Phone,1500.00
Headphones,100.00

#### Question 2:
Create a recursive CTE named `EmployeeHierarchyCTE` to represent the hierarchy of employees in the 'Employees' table.

#### Solution:

In [15]:
WITH RecursiveEmployeeCTE (ManagerID, EmployeeID, EmployeeName, Level) AS (
    SELECT NULL, EmployeeID, FirstName + ' ' + LastName, 0
    FROM EmployeesforWithdemo
    WHERE ManagerID IS NULL
    UNION ALL
    SELECT e.ManagerID, e.EmployeeID, e.FirstName + ' ' + e.LastName, c.Level + 1
    FROM EmployeesforWithdemo e
    INNER JOIN RecursiveEmployeeCTE c ON e.ManagerID = c.EmployeeID
)
SELECT *
FROM RecursiveEmployeeCTE;

ManagerID,EmployeeID,EmployeeName,Level
NULL,1,Laxman Rathod,0
1,2,Rajesh Rathod,1
1,5,Vijaylaxmi K,1
5,10,Naresh M,2
2,3,Padma Chauhan,2
2,4,Sarita Pawar,2
4,8,Ganga A,3
4,9,Kishan M,3
3,6,Hari Singh,3
3,7,Abhiram A,3

### 9. Practice Exercise

#### Question 1:
Create a CTE named `ProductsWithHighQuantityCTE` to select products with a quantity higher than 2.

#### Question 2:
Create a CTE named `ExpensiveProductsCTE` to select products with a price higher than $100.

#### Question 3:
Create a recursive CTE named `ManagerSubordinatesCTE` to represent the hierarchy of managers and their subordinates in the 'Employees' table.

### 10. Extra Innings

#### When to use WITH
- When u use aggregate function using GROUP BY along with one or more column in SELECT Statement and based on the resultset u want to apply one more condition on the resultset