# **Data Science Learners Hub**

**Module : SQL**

**Topic :** **VIEWS in SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

## **# VIEWS**

In [1]:
USE DataScienceLearnersHub

### 1. Create two Simple Tables to illustrate example for VIEWS

-- Create the first table
```sql
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT
);
```

-- Create the second table
```sql
CREATE TABLE Departments (
    DepartmentID INT PRIMARY KEY,
    DepartmentName VARCHAR(50)
);
```

### 2. Generate insert queries to insert values into the newly created tables

```sql
INSERT INTO Employees (EmployeeID, FirstName, LastName, DepartmentID)
VALUES
    (1, 'Laxman', 'Rathod', 101),
    (2, 'Padma', 'Chauhan', 102),
    (3, 'Vamshi', 'Singh', 101);
```

```sql
INSERT INTO Departments (DepartmentID, DepartmentName)
VALUES
    (101, 'IT'),
    (102, 'HR');
```

In [4]:
SELECT * FROM Employees

EmployeeID,FirstName,LastName,DepartmentID
1,Laxman,Rathod,101
2,Padma,Chauhan,102
3,Vamshi,Singh,101

In [6]:
SELECT * FROM Departments

DepartmentID,DepartmentName
101,IT
102,HR

### 3. Explaining VIEWS:

- **Definition:** Views are virtual tables generated by a query. They don't store data themselves but provide a way to represent data stored in one or more tables.
- **Virtual Table**: A view is a virtual table that doesn't store data itself but represents a pre-defined SQL query stored in the database.
- **Dynamic**: It reflects the current data of underlying tables when queried.
- **Benefits:**
    * Data abstraction and simplification
    * Security
    * Backward compatibility
    * Reusing complex queries

### 4. Types of Views:

#### a. Simple View:
A simple view is a basic representation of data from one or more tables. Here's an example:

In [7]:
-- Simple View
CREATE VIEW SimpleEmployeeView AS
SELECT EmployeeID, FirstName, LastName, DepartmentID
FROM Employees;

In [8]:
SELECT * FROM SimpleEmployeeView

EmployeeID,FirstName,LastName,DepartmentID
1,Laxman,Rathod,101
2,Padma,Chauhan,102
3,Vamshi,Singh,101

#### b. Indexed View:
Indexed views store data physically and can improve query performance. Let's create an indexed view:

-- Indexed View
  ```sql
CREATE VIEW IndexedAverageSalaryView
WITH SCHEMABINDING
AS
SELECT e.DepartmentID, AVG(e.Salary) AS AvgSalary
FROM dbo.Employees e
GROUP BY e.DepartmentID;
  ```

-- Create a clustered index on the view
```sql
CREATE UNIQUE CLUSTERED INDEX IDX_IndexedAverageSalaryView_DepartmentID
ON IndexedAverageSalaryView (DepartmentID);
```

#### c. Complex View:
A complex view involves multiple tables or complex queries. Here's an example:

In [10]:
-- Complex View
CREATE VIEW ComplexEmployeeView AS
SELECT e.EmployeeID, e.FirstName, e.LastName, d.DepartmentName
FROM Employees e
JOIN Departments d ON e.DepartmentID = d.DepartmentID;

In [11]:
SELECT * FROM ComplexEmployeeView

EmployeeID,FirstName,LastName,DepartmentName
1,Laxman,Rathod,IT
2,Padma,Chauhan,HR
3,Vamshi,Singh,IT

#### d. Updatable View:
Updatable views allow modifications to the underlying data. Here's an example:

-- Updatable View
```sql
CREATE VIEW UpdatableSalaryView AS
SELECT EmployeeID, FirstName, LastName, DepartmentID
FROM Employees
WHERE Salary > 50000;
```

-- Grant permissions for updates
```sql
GRANT UPDATE ON UpdatableSalaryView TO User1;
```

### 5. Practical Application:

- **Security:** Views can restrict access to certain columns, providing a layer of security.
- **Simplifying Queries:** Views can simplify complex queries by encapsulating logic.
- **Customizing Data Access**: Presenting tailored views to different users.
- **Refactoring Databases**: Encapsulating changes without breaking existing queries.

### 6. Peculiarities and Considerations:

- **Updatability:** Some views are not directly updatable, especially those involving multiple tables or complex aggregations.
- **Performance:** Indexed views can enhance query performance but come with overhead during updates.
- **Data Integrity**: Ensure underlying tables maintain consistency.
- **Cascading Changes**: Modifications to base tables affect views.

### 7. Common Mistakes:

- **Complex Views:** Creating overly complex views may lead to performance issues and maintenance challenges.
- **Ignoring Security:** Not considering security implications when creating views.
- **Incorrect Joins**: Leading to invalid or incomplete results.
- **Missing Constraints**: Causing data integrity issues.
- **Overusing Views**: Impacting performance and maintainability.

### 8. Handson :

1. **Create a view named "EmployeeDetails" to display all columns from the Employees table.**

   ```sql
   CREATE VIEW EmployeeDetails AS
   SELECT * FROM Employees;
   ```

2. **Explain the difference between a simple view and an indexed view.**

   - **Simple View:** Represents a subset of data from one or more tables. It does not store data physically and is not directly updatable if it involves complex queries.
   
   - **Indexed View:** Also known as a materialized view, it is a view with a clustered index. It physically stores data, allowing for faster query performance but requires additional maintenance during updates.

3. **How can views improve security in a database?**

   - **Column-Level Security:** Views can limit access to specific columns, allowing users to see only the data they need.
   
   - **Hide Complexity:** Views can encapsulate complex queries, hiding underlying table structures and making it more challenging for unauthorized users to understand the database schema.

### 9. Practice Questions for Students:

1. Create a view to display the total salary for each department.
2. Modify the "EmployeeDetails" view to include only employees from the IT department.

### 10. Do you know ?

- **Advantage:** Enhanced security, simplified queries, and improved data management in various real-world applications.
- **Mishap:** Poorly designed views may lead to performance bottlenecks or data inconsistencies and difficulties in maintenance.