# **Data Science Learners Hub**

**Module : SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

## **# Error handling in MS SQL Server : TRY...CATCH**

**1. Introduction:**

Error handling in SQL is like having a safety net for your code. Imagine you're cooking, and you want to follow a recipe. If something goes wrong, you'd want to have a backup plan or know how to handle unexpected situations. That's exactly what error handling does in SQL—it helps you gracefully deal with errors that might occur during the execution of your code.

**2. Why Learn Error Handling:**

Learning about error handling is crucial because it allows you to write more robust and reliable SQL code. It's like having a plan for when things don't go as expected. In a real-world scenario, you wouldn't want your application to crash just because of a small hiccup; error handling helps you prevent that.

**3. Real-world Applications:**

Consider an online banking system. When a user tries to transfer money between accounts, you want to make sure the transaction completes successfully. Error handling ensures that if something unexpected happens, like a network issue or database problem, the system can gracefully inform the user or roll back the transaction.

**4. Syntax and Types:**

In SQL, the `TRY...CATCH` block is used for error handling. Here's the basic syntax:

```sql
BEGIN TRY
   -- SQL code that might cause an error
END TRY
BEGIN CATCH
   -- Handling the error, logging, or rolling back changes
END CATCH
```

Now, let's look at a specific example:

```sql
BEGIN TRY
   -- Some code that might cause an error
   SELECT 1 / 0;  -- Division by zero to simulate an error
END TRY
BEGIN CATCH
   -- Handling the error
   PRINT 'An error occurred. Division by zero is not allowed.';
END CATCH
```

In this example, if there's an attempt to divide by zero, it will be caught in the `CATCH` block, and a message will be printed.

**5. Considerations:**

It's important to note that the `TRY...CATCH` block can only catch errors with a severity level greater than 10. Lower severity errors are considered informational and won't trigger the `CATCH` block. Same is discussed in detailed at the end of the topic

- Nested TRY...CATCH blocks are allowed for granular error handling.

- Use RAISERROR within CATCH to signal specific errors.

- Transaction rollback is often essential within CATCH to maintain data integrity.

**6. Common Mistakes:**

One common mistake is not being specific enough in handling different types of errors. It's essential to have a clear understanding of potential errors that might occur in your code and to handle them appropriately in the `CATCH` block.

- Neglecting to handle errors gracefully, leading to abrupt termination or unexpected behavior.

- Overusing TRY...CATCH, potentially impacting performance.

- Improper rollback of transactions, resulting in partial data updates.

**7. Hands-on Experience:**

Let's create a table and generate insert queries to demonstrate error handling:

In [1]:
USE DataScienceLearnersHub

In [3]:
DROP TABLE products

In [4]:
-- Creating a Sample Table
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(50),
    price DECIMAL(10,2)
);

In [5]:
-- Inserting Sample Data (Intentional Error)
BEGIN TRY
    INSERT INTO products VALUES (1, 'Laptop', 'Not a valid price');
END TRY
BEGIN CATCH
    PRINT 'An error occurred while inserting data.';
END CATCH

**Explanation :** In this example, we intentionally inserted invalid data to trigger an error and handled it in the `CATCH` block.

**Question 1. Insert Correct Data:**
   - Try inserting a product with a valid price, and observe the result.

In [6]:
-- Insert Correct Data
BEGIN TRY
    INSERT INTO products VALUES (2, 'Tablet', 799.99);
END TRY
BEGIN CATCH
    PRINT 'An error occurred while inserting data.';
END CATCH

**Question 2. Handle Different Error Types:**
   - Modify the `TRY` block to attempt to insert a duplicate product_id and handle the error accordingly.

In [7]:
-- Handle Duplicate Product ID
BEGIN TRY
    INSERT INTO products VALUES (1, 'Smartphone', 699.99);
END TRY
BEGIN CATCH
    IF ERROR_NUMBER() = 2627
        PRINT 'Duplicate product_id. Please choose a different ID.';
    ELSE
        PRINT 'An error occurred while inserting data.';
END CATCH

In [8]:
-- Handle Duplicate Product ID
BEGIN TRY
    INSERT INTO products VALUES (1, 'Smartphone', 699.99);
END TRY
BEGIN CATCH
    IF ERROR_NUMBER() = 2627
        PRINT 'Duplicate product_id. Please choose a different ID.';
    ELSE
        PRINT 'An error occurred while inserting data.';
END CATCH

**3. Update Operation:**
   - Implement a `TRY...CATCH` block for an update operation where you try to update a non-existing product. Handle the error appropriately.

In [11]:
-- Update Operation with Error Handling
BEGIN TRY
    UPDATE products SET price = 899.99 WHERE product_id = 3;  -- Assuming product_id 3 does not exist
END TRY
BEGIN CATCH
    IF ERROR_NUMBER() = 0
        PRINT 'No product found with the specified ID.';
    ELSE
        PRINT 'An error occurred while updating data.';
END CATCH

**Explanation:**

The code appears correct for handling the case where the product with product_id = 3 does not exist. It should print the message "No product found with the specified ID." in the case of non-existing data.

However, it's worth noting that SQL Server may not always raise an error if the UPDATE statement does not find any rows to update. In such cases, the ERROR_NUMBER() may not be set to a non-zero value, and the CATCH block might not be triggered.

To enhance the error handling, you can also check the @@ROWCOUNT immediately after the UPDATE statement to see if any rows were affected. If @@ROWCOUNT is zero, it indicates that no rows were updated, and you can handle it accordingly.

Here's an updated version of the code

In [13]:
-- Update Operation with Enhanced Error Handling
BEGIN TRY
    UPDATE products SET price = 899.99 WHERE product_id = 3;  -- Assuming product_id 3 does not exist
    IF @@ROWCOUNT = 0
        PRINT 'No product found with the specified ID.';
END TRY
BEGIN CATCH
    PRINT 'An error occurred while updating data.';
END CATCH

**4. Transaction Rollback:**
   - Use a `TRY...CATCH` block to attempt inserting two products. If the second insert fails, ensure the first one is rolled back.

In [12]:
-- Transaction Rollback
BEGIN TRY
    BEGIN TRANSACTION;

    -- Insert First Product
    INSERT INTO products VALUES (4, 'Headphones', 149.99);

    -- Intentional Error to Trigger Rollback
    INSERT INTO products VALUES (4, 'Camera', 'Invalid price');

    COMMIT;
END TRY
BEGIN CATCH
    ROLLBACK;
    PRINT 'An error occurred. The transaction was rolled back.';
END CATCH

**Note :** These solutions demonstrate how to handle different scenarios using the `TRY...CATCH` block in SQL Server. Feel free to experiment with the code and explore additional error-handling techniques!

**8. Homework Assignment:**

1. **Advanced Error Handling:**
   - Research and implement error handling for a scenario involving multiple operations (insert, update, delete) within a single transaction.

2. **Logging Errors:**
   - Modify the `CATCH` block to log detailed information about the error, such as the error message, severity, and timestamp.

3. **User-Friendly Messages:**
   - Improve the user experience by providing more user-friendly error messages in the `CATCH` block for different error scenarios.

4. **Nested TRY...CATCH:**
   - Explore and implement a nested `TRY...CATCH` block for more granular error handling.

5. **Error Propagation:**
   - Investigate how errors propagate through nested procedures and implement error handling at different levels.

**9. Mishaps and Advantages:**
- **Mishap**: Inadequate error handling can lead to data corruption, application crashes, or security vulnerabilities.

- **Advantage**: Robust error handling enhances code reliability, user experience, and maintainability.

**10. Do you Know ?**

Did you know that error handling has evolved over the years in SQL Server? In SQL Server 2012 and later versions, there's a new `THROW` statement that provides more flexibility in rethrowing errors and customizing error messages. Understanding these advancements can help you write more efficient and sophisticated error-handling code in modern SQL Server environments.

**11. Security levels of error messages:**

In SQL Server, each error is assigned a severity level that indicates the seriousness of the error. The severity level ranges from 0 to 25, with 0 being a successful operation and 25 indicating a fatal system error. Severity levels from 11 to 19 represent errors that can be corrected by the user, while severity levels from 20 to 25 indicate system problems.

The statement "It's important to note that the `TRY...CATCH` block can only catch errors with a severity level greater than 10. Lower severity errors are considered informational and won't trigger the `CATCH` block" means that the `TRY...CATCH` construct is designed to capture and handle errors of a certain severity or higher.

Here's a breakdown:

- **Severity levels 0 to 10**: These are considered informational messages and successful operations. They typically do not indicate an error that needs special handling. The `TRY...CATCH` block does not capture or handle errors with severity levels 0 to 10.

- **Severity levels 11 to 19**: These errors are generally less severe and represent issues that can be corrected by the user. The `TRY...CATCH` block can capture and handle errors with severity levels 11 to 19.

- **Severity levels 20 to 25**: These errors are more severe and often indicate system problems or issues that require immediate attention. The `TRY...CATCH` block can capture and handle errors with severity levels 20 to 25.

In summary, the `TRY...CATCH` block is not intended to capture informational messages or very low severity errors. It is designed to handle errors that may disrupt the normal flow of execution or require special handling, typically errors with severity levels 11 and above. If you want to capture and handle specific lower severity errors, you might need to use other mechanisms, such as checking the error message text or using conditional logic within your code.