# **Data Science Learners Hub**

**Module : SQL**

**Topic :** Practice Exercise - 01

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

**Topics Covered**

- Create Tables
- INSERT
- UPDATE
- DELETE

### **Practice Questions for Table Creation:**

In [1]:
USE DataScienceLearnersHub

**1\. Customers Table:**

  

Create a table named \`customers\` with the following columns:

\- \`customer\_id\` of type \`INT\` as the primary key.

\- \`customer\_name\` of type \`VARCHAR(50)\` to store the customer's name.

\- \`email\` of type \`VARCHAR(100)\` as a unique key to store the customer's email address.

In [2]:
-- 1. Creating a table 'customers'
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    email VARCHAR(100) UNIQUE
);

In [3]:
SELECT * FROM customers
-- Note : we get empty table as no data is inserted as of now

**2\. Orders Table:**

  

  

Design a table named \`orders\` with the following columns:

\- \`order\_id\` of type \`INT\` as the primary key.

\- \`customer\_id\` of type \`INT\` as a foreign key referencing the \`customer\_id\` column in the \`customers\` table.

\- \`order\_date\` of type \`DATE\` to store the date when the order was placed.

\- \`total\_amount\` of type \`DECIMAL(10, 2)\` to represent the total amount of the order.

In [4]:
-- 2. Creating an 'orders' table
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10, 2),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

**3\. Products Table:**

  

  

Create a table named \`products\` with the following columns:

\- \`product\_id\` of type \`INT\` as the primary key.

\- \`product\_name\` of type \`VARCHAR(50)\` to store the name of the product.

\- \`price\` of type \`DECIMAL(8, 2)\` to represent the price of the product.

In [5]:
-- 3. Creating a 'products' table
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(50),
    price DECIMAL(8, 2)
);

### **Now Execute the following INSERT statements**

\-- Inserting values into 'customers'

INSERT INTO customers (customer\_id, customer\_name, email)

VALUES

    (1, 'Laxman', 'laxman[@example.com](mailto:john@example.com)'),

    (2, 'Padma', 'padma[@example.com](mailto:jane@example.com)'),

    (3, 'Harshita', 'harshita[@example.com](mailto:bob@example.com)');

\-- Inserting values into 'orders'

INSERT INTO orders (order\_id, customer\_id, order\_date, total\_amount)

VALUES

    (101, 1, '2023-01-15', 150.50),

    (102, 2, '2023-02-20', 200.75),

    (103, 3, '2023-03-10', 100.00);

\-- Inserting values into 'products'

INSERT INTO products (product\_id, product\_name, price)

VALUES

    (501, 'Laptop', 800.00),

    (502, 'Smartphone', 500.50),

    (503, 'Headphones', 50.75);

In [6]:
-- Inserting values into 'customers'

INSERT INTO customers (customer_id, customer_name, email)
VALUES
    (1, 'Laxman', 'laxman@example.com'),
    (2, 'Padma', 'padma@example.com'),
    (3, 'Harshita', 'harshita@example.com');

In [7]:
SELECT * FROM customers

customer_id,customer_name,email
1,Laxman,laxman@example.com
2,Padma,padma@example.com
3,Harshita,harshita@example.com

In [8]:
-- Inserting values into 'orders'

INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES
    (101, 1, '2023-01-15', 150.50),
    (102, 2, '2023-02-20', 200.75),
    (103, 3, '2023-03-10', 100.00);

In [9]:
SELECT * FROM orders

order_id,customer_id,order_date,total_amount
101,1,2023-01-15,150.50
102,2,2023-02-20,200.75
103,3,2023-03-10,100.00

In [10]:
-- Inserting values into 'products'

INSERT INTO products (product_id, product_name, price)
VALUES
    (501, 'Laptop', 800.00),
    (502, 'Smartphone', 500.50),
    (503, 'Headphones', 50.75);

In [11]:
SELECT * FROM products

product_id,product_name,price
501,Laptop,800.00
502,Smartphone,500.50
503,Headphones,50.75

### **Practice Questions for INSERT Statements:**

**4\. Customers Table:**

Using the \`INSERT\` statement, add a new customer to the \`customers\` table with the following details:

\- \`customer\_id\`: 4

\- \`customer\_name\`: 'Naina'

\- \`email\`: 'naina[@example.com](mailto:eva@example.com)'

In [12]:
INSERT INTO customers (customer_id, customer_name, email)
VALUES (4, 'Naina', 'naina@example.com');

In [13]:
SELECT * FROM customers

customer_id,customer_name,email
1,Laxman,laxman@example.com
2,Padma,padma@example.com
3,Harshita,harshita@example.com
4,Naina,naina@example.com

**5\. Orders Table:**

Write an \`INSERT\` statement to add a new order to the \`orders\` table with the following details:

\- \`order\_id\`: 104

\- \`customer\_id\`: 4

\- \`order\_date\`: '2023-04-05'

\- \`total\_amount\`: 120.25

In [14]:
INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES (104, 4, '2023-04-05', 120.25);

In [15]:
SELECT * FROM orders

order_id,customer_id,order_date,total_amount
101,1,2023-01-15,150.50
102,2,2023-02-20,200.75
103,3,2023-03-10,100.00
104,4,2023-04-05,120.25

**6\. Products Table:**

Using the \`INSERT\` statement, add a new product to the \`products\` table with the following details:

\- \`product\_id\`: 504

\- \`product\_name\`: 'Tablet'

\- \`price\`: 300.00

In [16]:
INSERT INTO products (product_id, product_name, price)
VALUES (504, 'Tablet', 300.00);

In [17]:
SELECT * FROM products

product_id,product_name,price
501,Laptop,800.00
502,Smartphone,500.50
503,Headphones,50.75
504,Tablet,300.00

**7\. UPDATE:**

Write an \`UPDATE\` statement to change the 'customer\_name' of the customer with \`customer\_id\` 2 to 'Sirisha'.

In [18]:
UPDATE customers
SET customer_name = 'Sirisha'
WHERE customer_id = 2;

In [19]:
SELECT * FROM customers

customer_id,customer_name,email
1,Laxman,laxman@example.com
2,Sirisha,padma@example.com
3,Harshita,harshita@example.com
4,Naina,naina@example.com

**8\. Write an \`UPDATE\` statement to increase the 'price' of the product with \`product\_id\` 503 to 75.00.**

In [20]:
UPDATE products
SET price = 75.00
WHERE product_id = 503;

In [21]:
SELECT * FROM products

product_id,product_name,price
501,Laptop,800.00
502,Smartphone,500.50
503,Headphones,75.00
504,Tablet,300.00

**9\. Write a \`DELETE\` statement to remove the customer with \`customer\_id\` 3 from the 'customers' table.**

In [22]:
DELETE FROM customers
WHERE customer_id = 3;

: Msg 547, Level 16, State 0, Line 1
The DELETE statement conflicted with the REFERENCE constraint "FK__orders__customer__4CA06362". The conflict occurred in database "DataScienceLearnersHub", table "dbo.orders", column 'customer_id'.

**NOTE** : Here u are getting error message while deleting the record with customer\_id = 3. 

  

The error you're encountering indicates that there is a foreign key constraint (\`FK\_\_orders\_\_customer\_\_4CA06362\`) on the \`customer\_id\` column in the \`orders\` table, and it is preventing the deletion of the record from the \`customers\` table because there are related records in the \`orders\` table.  
  
  
Below are some of the possible solutions

**1\. Delete Related Records First:**

  

If you don't need the related records in the \`orders\` table and it's acceptable to delete them, you can delete the related records in the \`orders\` table first, and then delete the record in the \`customers\` table.

In [46]:
-- Delete related records in 'orders' table
DELETE FROM orders
WHERE customer_id = 3;

In [34]:
SELECT * FROM orders

order_id,customer_id,order_date,total_amount
101,1,2023-01-15,150.50
102,2,2023-02-20,200.75
104,4,2023-04-05,120.25

In [45]:
-- Now you can delete the customer
DELETE FROM customers
WHERE customer_id = 3;

In [36]:
SELECT * FROM customers

customer_id,customer_name,email
1,Laxman,laxman@example.com
2,Sirisha,padma@example.com
4,Naina,naina@example.com

**2\. Set NULL for Foreign Key:**

  

- If your database schema allows it, you might have the option to set the foreign key to \`NULL\` on deletion. However, this depends on how the foreign key constraint is defined (whether it allows \`NULL\` values).

In [37]:
-- NOTE : Here we are inserting the row with customer_id = 3 again to learn 
-- different possible solution to overcome the error message (`FK__orders__customer__4CA06362`) above
INSERT INTO customers (customer_id, customer_name, email)
VALUES (3, 'Harshita', 'harshita@example.com');

INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES (103, 3, '2023-03-10', 100.00);

In [38]:
SELECT * FROM customers
SELECT * FROM orders

customer_id,customer_name,email
1,Laxman,laxman@example.com
2,Sirisha,padma@example.com
3,Harshita,harshita@example.com
4,Naina,naina@example.com

order_id,customer_id,order_date,total_amount
101,1,2023-01-15,150.50
102,2,2023-02-20,200.75
103,3,2023-03-10,100.00
104,4,2023-04-05,120.25

In [39]:
DELETE FROM customers
WHERE customer_id = 3;

: Msg 547, Level 16, State 0, Line 1
The DELETE statement conflicted with the REFERENCE constraint "FK__orders__customer__4CA06362". The conflict occurred in database "DataScienceLearnersHub", table "dbo.orders", column 'customer_id'.

In [40]:
-- Solution number 2
-- Set customer_id to NULL in 'orders' table
UPDATE orders
SET customer_id = NULL
WHERE customer_id = 3;

In [41]:

-- Now you can delete the customer
DELETE FROM customers
WHERE customer_id = 3;

In [42]:
SELECT * FROM customers
SELECT * FROM orders

customer_id,customer_name,email
1,Laxman,laxman@example.com
2,Sirisha,padma@example.com
4,Naina,naina@example.com

order_id,customer_id,order_date,total_amount
101,1,2023-01-15,150.50
102,2,2023-02-20,200.75
103,NULL,2023-03-10,100.00
104,4,2023-04-05,120.25

**Possible solution no 3 :  Remove Foreign Key Constraint:**

  

- If you want to delete the customer even if there are related records in the \`orders\` table, you might consider removing the foreign key constraint. However, be cautious with this approach, as it might lead to data integrity issues.

In [48]:
-- Delete related records in 'orders' table
DELETE FROM orders
WHERE order_id = 103;

In [49]:
SELECT * FROM orders

order_id,customer_id,order_date,total_amount
101,1,2023-01-15,150.50
102,2,2023-02-20,200.75
104,4,2023-04-05,120.25

In [50]:
-- NOTE : Here we are inserting the row with customer_id = 3 again to learn 
-- different possible solution to overcome the error message (`FK__orders__customer__4CA06362`) above
INSERT INTO customers (customer_id, customer_name, email)
VALUES (3, 'Harshita', 'harshita@example.com');

INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES (103, 3, '2023-03-10', 100.00);

In [51]:
-- Drop the foreign key constraint
ALTER TABLE orders
DROP CONSTRAINT FK__orders__customer__4CA06362;

In [52]:
-- Now you can delete the customer
DELETE FROM customers
WHERE customer_id = 3;

In [53]:
SELECT * FROM customers
SELECT * FROM orders

customer_id,customer_name,email
1,Laxman,laxman@example.com
2,Sirisha,padma@example.com
4,Naina,naina@example.com

order_id,customer_id,order_date,total_amount
101,1,2023-01-15,150.50
102,2,2023-02-20,200.75
103,3,2023-03-10,100.00
104,4,2023-04-05,120.25

**10\. Write a \`DELETE\` statement to remove the product with \`product\_id\` 502 from the '**

In [54]:
DELETE FROM products
WHERE product_id = 502;

In [55]:
SELECT * FROM products

product_id,product_name,price
501,Laptop,800.00
503,Headphones,75.00
504,Tablet,300.00