# **Data Science Learners Hub**

**Module : SQL**

**Topic :** ROLLUP() and  <span style="color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;; font-size: 13px;">COALESCE() fuctions</span>

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

In [1]:
USE DataScienceLearnersHub

### **1\. Create a simple table:**

  

- Let's create a table named \`SalesData\` to illustrate examples for ROLLUP() and COALESCE() functions.

In [2]:
CREATE TABLE tblSalesData (
    Region VARCHAR(50),
    Country VARCHAR(50),
    Product VARCHAR(50),
    Sales DECIMAL(10, 2)
);

### **2\. Insert queries:**

  

- Insert some sample data into the table:

In [11]:
INSERT INTO tblSalesData VALUES ('North', 'USA', 'Product A', 100.00);
INSERT INTO tblSalesData VALUES ('North', 'India', 'Product B', 150.00);
INSERT INTO tblSalesData VALUES ('South', 'Brazil', 'Product A', 200.00);
INSERT INTO tblSalesData VALUES ('South', 'Argentina', 'Product B', 120.00);
INSERT INTO tblSalesData VALUES ('West', 'USA', 'Product A', 180.00);
INSERT INTO tblSalesData VALUES ('West', 'India', 'Product B', 90.00);

In [12]:
SELECT * FROM tblSalesData

Region,Country,Product,Sales
North,USA,Product A,100.00
North,India,Product B,150.00
South,Brazil,Product A,200.00
South,Argentina,Product B,120.00
West,USA,Product A,180.00
West,India,Product B,90.00

### **3\. ROLLUP() and COALESCE() functions:**

  

**ROLLUP():**

  

- The \`ROLLUP()\` function is used for generating subtotals and grand totals for a set of columns in the result set. 
- It produces a result set with additional rows representing higher-level aggregations.

**Syntax :**

  

<span style="font-size: 13px;">SELECT ...</span>

<span style="font-size: 13px;">FROM ...</span>

<span style="font-size: 13px;">GROUP BY ROLLUP(&lt;column1&gt;, &lt;column2&gt;, ...);</span>

  

  

**COALESCE():**

  

- The \`COALESCE()\` function is used to return the first non-null expression among its arguments. 
- It is often used to handle NULL values in queries.

**Syntax :**

  

<span style="font-size: 13px;">COALESCE(&lt;expression1&gt;, &lt;expression2&gt;, ..., &lt;default_value&gt;)</span>

### **4\. Examples of ROLLUP() and COALESCE() functions uses:**

**a. Basic ROLLUP():**

- This query will provide subtotals and grand totals for sales at the region and country levels.

In [13]:
SELECT Region, Country, SUM(Sales) AS TotalSales
FROM tblSalesData
GROUP BY ROLLUP (Region, Country);

Region,Country,TotalSales
North,India,150.00
North,USA,100.00
North,NULL,250.00
South,Argentina,120.00
South,Brazil,200.00
South,NULL,320.00
West,India,90.00
West,USA,180.00
West,NULL,270.00
NULL,NULL,840.00

**b. COALESCE() with NULL handling:**

- This query uses COALESCE() to replace NULL values with 0 in the TotalSales column.

In [14]:
INSERT INTO tblSalesData (Region, Country) VALUES ('West', 'Australia');
INSERT INTO tblSalesData (Region, Country) VALUES ('North', 'Newzealand');

In [15]:
SELECT * FROM tblSalesData

Region,Country,Product,Sales
North,USA,Product A,100.00
North,India,Product B,150.00
South,Brazil,Product A,200.00
South,Argentina,Product B,120.00
West,USA,Product A,180.00
West,India,Product B,90.00
West,Australia,NULL,NULL
North,Newzealand,NULL,NULL

In [17]:
SELECT Region, Country, COALESCE(Product, 'Unknown') AS Product, COALESCE(Sales, 0) AS Sales
FROM tblSalesData

Region,Country,Product,Sales
North,USA,Product A,100.00
North,India,Product B,150.00
South,Brazil,Product A,200.00
South,Argentina,Product B,120.00
West,USA,Product A,180.00
West,India,Product B,90.00
West,Australia,Unknown,0.00
North,Newzealand,Unknown,0.00

In [18]:
SELECT *
FROM tblSalesData

Region,Country,Product,Sales
North,USA,Product A,100.00
North,India,Product B,150.00
South,Brazil,Product A,200.00
South,Argentina,Product B,120.00
West,USA,Product A,180.00
West,India,Product B,90.00
West,Australia,NULL,NULL
North,Newzealand,NULL,NULL

In [19]:
SELECT Region, Country,  COALESCE(SUM(Sales), 0) AS TotalSales
FROM tblSalesData
GROUP BY Region, Country;

Region,Country,TotalSales
South,Argentina,120.00
West,Australia,0.00
South,Brazil,200.00
North,India,150.00
West,India,90.00
North,Newzealand,0.00
North,USA,100.00
West,USA,180.00

### **5\. Practical application of ROLLUP() and COALESCE() functions:**

  

- In real-world scenarios, ROLLUP() is often used in financial reporting, where you need to generate hierarchical totals. 
- COALESCE() is commonly used to handle NULL values in calculations or aggregations, ensuring more robust query results.
- Generating reports with subtotals and grand totals for hierarchical data.
- Cleaning and preparing data for further analysis by replacing NULL values.
- Creating user-friendly reports with consistent data representation.

### **6\. Peculiarities and Considerations:**

  

- ROLLUP() generates additional rows, so be mindful of the increased result set size.
- ROLLUP() assumes a pre-defined hierarchy in your columns. Order them carefully!
- <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">COALESCE() is useful for handling NULL values, improving the reliability of calculations.</span>
- COALESCE() prioritizes non-NULL values. Choose the default value wisely.
- Both functions can impact query performance, so use them strategically.

### **7\. Common mistakes:**

  

- Forgetting to use the ROLLUP() function within the GROUP BY clause.
- Incorrectly applying COALESCE() to columns that are not nullable.
- Misunderstanding the hierarchy in ROLLUP(), leading to incorrect subtotals.
- Choosing inappropriate default values in COALESCE() that misrepresent data.
- Overusing these functions, potentially impacting query efficiency.