# **Data Science Learners Hub**

**Module : SQL**

**Topic :** **SELECT INTO Command** 

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

In [1]:
USE DataScienceLearnersHub

### **SELECT INTO**

- The \`SELECT INTO\` statement in SQL is used to create a new table and populate it with the result set of a \`SELECT\` query. It's a convenient way to create a new table on-the-fly based on the columns and data returned by a query. The new table is created with the same structure as the result set of the \`SELECT\` query.

<span style="font-size: 13px;"><b>Syntax :</b></span>

<span style="font-size: 13px;">SELECT column1, column2, ...</span>

<span style="font-size: 13px;">INTO new_table</span>

<span style="font-size: 13px;">FROM source_table</span>

<span style="font-size: 13px;">WHERE condition;</span>

<span style="font-size: 13px;"><br></span>

<span style="font-size: 13px;"><b>Explanation :</b></span>

\- \`column1, column2, ...\`: The columns you want to select from the source table.

\- \`new\_table\`: The name of the new table to be created.

\- \`source\_table\`: The table from which to select data.

\- \`WHERE condition\`: Optional condition to filter the rows.

**Example :**

Now, let's illustrate the \`SELECT INTO\` statement with an example. Suppose you have an existing "Emp" table, and you want to create a new table called "Employees" .

In [2]:
SELECT * FROM Emp

id,name,age,gender,salary,department,MonthlySalary,EmailAddress,FullName
1,Rajesh,30,Male,60000.00,IT,5000.000000,Rajesh_1@company.com,Rajesh IT
3,Laxman,35,Male,70000.75,Finance,5833.395833,Laxman_3@company.com,Laxman Finance
4,Ganga,28,Female,48000.25,Marketing,4000.020833,Ganga_4@company.com,Ganga Marketing
5,Nikhil,32,Male,72000.00,IT,6000.000000,Nikhil_5@company.com,Nikhil IT
6,Sarita,29,Female,58000.75,HR,4833.395833,Sarita_6@company.com,Sarita HR
7,Bunny,40,Male,85000.50,Finance,7083.375000,Bunny_7@company.com,Bunny Finance
8,Namrata,26,Female,50000.50,Marketing,4166.708333,Namrata_8@company.com,Namrata Marketing
9,Abhiram,38,Male,78000.25,IT,6500.020833,Abhiram_9@company.com,Abhiram IT
10,Tikram,31,Female,62000.00,Finance,5166.666666,Tikram_10@company.com,Tikram Finance
11,Ramulu,58,Male,178000.25,IT,14833.354166,Ramulu_11@company.com,Ramulu IT
12,Bala,51,Female,162000.00,Finance,13500.000000,Bala_12@company.com,Bala Finance

In [3]:
-- Create a new table "Employees" with the structure of the result set from Emp table
SELECT *
INTO Employees
FROM Emp

-- Note :
-- After executing this query, a new table named "NewEmployees" will be created, and 
-- it will contain the same columns as the "Employees" table, with same data

In [4]:
SELECT * FROM Employees

id,name,age,gender,salary,department,MonthlySalary,EmailAddress,FullName
1,Rajesh,30,Male,60000.00,IT,5000.000000,Rajesh_1@company.com,Rajesh IT
3,Laxman,35,Male,70000.75,Finance,5833.395833,Laxman_3@company.com,Laxman Finance
4,Ganga,28,Female,48000.25,Marketing,4000.020833,Ganga_4@company.com,Ganga Marketing
5,Nikhil,32,Male,72000.00,IT,6000.000000,Nikhil_5@company.com,Nikhil IT
6,Sarita,29,Female,58000.75,HR,4833.395833,Sarita_6@company.com,Sarita HR
7,Bunny,40,Male,85000.50,Finance,7083.375000,Bunny_7@company.com,Bunny Finance
8,Namrata,26,Female,50000.50,Marketing,4166.708333,Namrata_8@company.com,Namrata Marketing
9,Abhiram,38,Male,78000.25,IT,6500.020833,Abhiram_9@company.com,Abhiram IT
10,Tikram,31,Female,62000.00,Finance,5166.666666,Tikram_10@company.com,Tikram Finance
11,Ramulu,58,Male,178000.25,IT,14833.354166,Ramulu_11@company.com,Ramulu IT
12,Bala,51,Female,162000.00,Finance,13500.000000,Bala_12@company.com,Bala Finance

### **Note :** 

- It's important to note that the \`SELECT INTO\` statement creates a new table, and it will fail if the specified table already exists. If you want to insert data into an existing table, you should use the \`INSERT INTO\` statement instead.