# **Data Science Learners Hub**

**Module : SQL**

**Topic :** Date Functions in SQL

**email** :[datasciencelearnershub@gmail.com](https://github.com/rathodlaxman/DataScienceLearnersHub/blob/50de48da0c8f7145a545dd9942457c8b9cfc8fc5//mailto:datasciencelearnershub@gmail.com)

In [1]:
USE DataScienceLearnersHub

In [1]:
CREATE TABLE orders_date_function (
    order_id INT,
    order_date DATE,
    ship_date DATE
);

In [2]:
INSERT INTO orders_date_function (order_id, order_date, ship_date) VALUES 
(1, '2024-06-15', '2024-06-20'),
(2, '2024-07-01', '2024-07-05');

In [3]:
SELECT * FROM orders_date_function

order_id,order_date,ship_date
1,2024-06-15,2024-06-20
2,2024-07-01,2024-07-05

### **`SQL Date Functions`**

#### Current Date and Time Functions

| Function         | Syntax             | Input       | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|--------------------|-------------|-------------|----------------------------------------------|----------------------------------------------|
| GETDATE()        | `GETDATE()`        | None        | DateTime    | <mark>Returns current date and time.</mark>               | <mark>**Depends on the system time of the database server.**</mark> |

In [4]:
-- Current Date and Time
SELECT GETDATE() AS CurrentDateTime;

CurrentDateTime
2024-06-30 16:35:45.277

#### Date Extraction Functions

| Function         | Syntax                    | Input       | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|---------------------------|-------------|-------------|----------------------------------------------|----------------------------------------------|
| DATEPART()       | `DATEPART(datepart, date)` | DatePart    | Int         | <mark>Returns specified part of a date.</mark>            | <mark>**`datepart` specifies the date component to extract (e.g., year, month).**</mark> |
| DAY()            | `DAY(date)`               | Date        | Int         | Returns the day part of a date.              | None                                         |
| MONTH()          | `MONTH(date)`             | Date        | Int         | Returns the month part of a date.            | None                                         |
| YEAR()           | `YEAR(date)`              | Date        | Int         | Returns the year part of a date.             | None                                         |


**`Note :`**
- <mark>The return types for all the above four functions is **`int`**</mark>

In [7]:
-- Date Extraction
SELECT 
    DATEPART(YEAR, order_date) AS OrderYear,
    DAY(order_date) AS OrderDay,
    MONTH(order_date) AS OrderMonth
FROM orders_date_function

OrderYear,OrderDay,OrderMonth
2024,15,6
2024,1,7

#### Date Manipulation Functions

| Function         | Syntax                            | Input       | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|-----------------------------------|-------------|-------------|----------------------------------------------|----------------------------------------------|
| DATEDIFF()       | `DATEDIFF(datepart, start_date, end_date)` | DatePart, Date, Date | Int | <mark>Returns the difference between two dates.</mark>   | <mark>**`datepart` specifies the units (e.g., day, month) for the difference calculation.**</mark> |
| EOMONTH()        | `EOMONTH(start_date, [month_to_add])` | Date, Int   | Date        | <mark>Returns the end of month date.</mark>              | <mark>**`[month_to_add]` is an optional parameter to add months before calculating end of month**</mark>. |

In [9]:
-- Date Manipulation
SELECT 
    DATEDIFF(DAY, order_date, ship_date) AS DaysToShip,
    EOMONTH(order_date) AS LastDayOfMonth
FROM orders_date_function

DaysToShip,LastDayOfMonth
5,2024-06-30
4,2024-07-31

#### Date Conversion and Formatting Functions

| Function         | Syntax                             | Input       | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|------------------------------------|-------------|-------------|----------------------------------------------|----------------------------------------------|
| CONVERT()        | <mark>`CONVERT(data_type, expression, [style])`</mark> | Data Type, Expression | Data Type   | <mark>Converts data types, optionally with style.</mark>  | <mark>Style affects date formatting (e.g., YYYYMMDD)</mark>. |
| FORMAT()         | <mark>`FORMAT(value, format [, culture])`</mark> | Value       | NVARCHAR   | <mark>Formats a value based on format and culture.</mark> | <mark>Requires SQL Server 2012 or later. </mark>           |

In [10]:
-- Date Conversion and Formatting
SELECT 
    CONVERT(VARCHAR, order_date, 112) AS FormattedOrderDate,
    FORMAT(order_date, 'yyyy-MM-dd') AS FormattedOrderDate2
FROM orders_date_function

: Msg 10347, Level 16, State 1, Line 2
Common Language Runtime(CLR) is not enabled on this instance.

| FormattedOrderDate | FormattedOrderDate2 |
|--------------------|---------------------|
| 20240615           | 2024-06-15          |
| 20240701           | 2024-07-01          |

### **`Some more example of Date FUnctions`**

**Create a table tblStudent:**

In [2]:
-- Create below table to practice Date functions
-- Creating the tblStudent table

CREATE TABLE tblStudent (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    course VARCHAR(50),
    date_of_joining DATE,
    age INT,
    city VARCHAR(50)
);

In [3]:
-- Inserting values into tblStudent
INSERT INTO tblStudent (id, name, course, date_of_joining, age, city)
VALUES
    (1, 'Varsha', 'Mathematics', '2022-01-15', 22, 'Mahabubnagar'),
    (2, 'Ananya', 'Physics', '2022-02-20', 25, 'San Hyderabad'),
    (3, 'Harshita', 'Computer Science', '2022-03-10', 23, 'Pune'),
    (4, 'Sai', 'Biology', '2022-04-05', 21, 'Anantapur'),
    (5, 'Aanchal', 'Chemistry', '2022-05-12', 24, 'Bhopal');

In [4]:
SELECT * FROM tblStudent

id,name,course,date_of_joining,age,city
1,Varsha,Mathematics,2022-01-15,22,Mahabubnagar
2,Ananya,Physics,2022-02-20,25,San Hyderabad
3,Harshita,Computer Science,2022-03-10,23,Pune
4,Sai,Biology,2022-04-05,21,Anantapur
5,Aanchal,Chemistry,2022-05-12,24,Bhopal

### **Date Functions in SQL:**

  

- Date Functions in SQL are used to perform operations on date and time data. They can be used to extract parts of a date, perform calculations, and manipulate date values. Some common Date Functions in SQL include:

**\`GETDATE()\`:**

  

- Returns the current date and time.

In [5]:
SELECT GETDATE() AS CurrentDateTime;

CurrentDateTime
2023-12-10 07:24:38.377

**\`DATEPART()\`:**

- Extracts a specific part (such as year, month, day) from a date.
- **Syntax** : SELECT DATEPART(part, date\_expression) AS Result;

In [6]:
SELECT DATEPART(YEAR, date_of_joining) AS JoiningYear FROM tblStudent;
-- In the DATEPART first argument u can also mention MONTH, DAY

JoiningYear
2022
2022
2022
2022
2022

**\`DAY(), MONTH()\` and \`YEAR()\` Functions:**

- Extracts the day, month or year from a date.
- Syntax : SELECT MONTH(date\_expression) AS Month, YEAR(date\_expression) AS Year FROM tblStudent;

In [13]:
SELECT DAY(date_of_joining) AS Day, MONTH(date_of_joining) AS Month, YEAR(date_of_joining) AS Year FROM tblStudent;

Day,Month,Year
15,1,2022
20,2,2022
10,3,2022
5,4,2022
12,5,2022

In [8]:
SELECT DATEPART(MONTH, date_of_joining) AS JoiningYear FROM tblStudent;
SELECT DATEPART(DAY, date_of_joining) AS JoiningYear FROM tblStudent;

JoiningYear
1
2
3
4
5

JoiningYear
15
20
10
5
12

**\`DATEDIFF()\`:**

- Calculates the difference between two dates.
- **Syntax** : SELECT DATEDIFF(part, start\_date, end\_date) AS Result;

In [7]:
SELECT DATEDIFF(YEAR, date_of_joining, GETDATE()) AS YearsSinceJoining FROM tblStudent;
-- The below output is 1 as the currentyear is 2023 so 2023-2022 = 1

YearsSinceJoining
1
1
1
1
1

**\`CONVERT()\` :**

- Converts a date or time value to a specified data type.
- Syntax : SELECT CONVERT(data\_type, expression, style) AS Result;

In [9]:
SELECT CONVERT(VARCHAR, date_of_joining, 103) AS FormattedDate FROM tblStudent;

FormattedDate
15/01/2022
20/02/2022
10/03/2022
05/04/2022
12/05/2022

**\`FORMAT()\` Function (SQL Server 2012 and later):**

- Formats a date or time value based on a specified format.
- Syntax : SELECT FORMAT(date\_expression, format) AS Result;

In [10]:
SELECT FORMAT(date_of_joining, 'dd/MM/yyyy') AS FormattedDate FROM tblStudent;

-- Note : there is some issue with my MS SQL server setup so I am not getting
-- the output but u will be getting in ur setup

: Msg 10347, Level 16, State 1, Line 1
Common Language Runtime(CLR) is not enabled on this instance.

**\`EOMONTH()\` Function:**

- Returns the last day of the month for a given date.
- Syntax : SELECT EOMONTH(date\_expression) AS LastDayOfMonth FROM tblStudent;

In [14]:
SELECT EOMONTH(date_of_joining) AS LastDayOfMonth FROM tblStudent;

LastDayOfMonth
2022-01-31
2022-02-28
2022-03-31
2022-04-30
2022-05-31

### **Peculiarities and Considerations for Date Functions:**

- **Timezone Awareness**: Know the timezone of your database, especially when using functions that involve the current date and time.
- **Data Type Compatibility**: Ensure columns involved in date operations have compatible data types.operations are compatible.

### **Common Mistakes to Avoid:**

- **Not Handling NULLs**: Date functions `can give unexpected results with NULL values`. Ensure NULLs are handled properly in date operations.
- **Incorrect Date Formats**: `Use correct date formats accepted by SQL Server` (e.g., 'YYYY-MM-DD'). Incorrect formats cause errors.
- **Ignoring Time Component**: B`e aware of the time component in `DATE` data types if it is relevant to your use case. Ignoring it can lead to inaccuracies.`