# **Data Science Learners Hub**

**Module : SQL**

**Topic :** **Sub Queries in SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

## **# Sub Queries in SQL**

### 1. Create a simple table to illustrate examples for Sub-Queries

In [1]:
-- Create a simple table
CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(50),
    Category VARCHAR(50),
    Price DECIMAL(10, 2)
);

### 2. Generate insert queries to insert values into the newly created table

In [2]:
-- Insert values into the Products table
INSERT INTO Products (ProductID, ProductName, Category, Price)
VALUES
    (1, 'Laptop', 'Electronics', 1200.00),
    (2, 'Chair', 'Furniture', 80.00),
    (3, 'Headphones', 'Electronics', 50.00),
    (4, 'Desk', 'Furniture', 150.00),
    (5, 'Phone', 'Electronics', 500.00);

In [3]:
SELECT * FROM Products

ProductID,ProductName,Category,Price
1,Laptop,Electronics,1200.00
2,Chair,Furniture,80.00
3,Headphones,Electronics,50.00
4,Desk,Furniture,150.00
5,Phone,Electronics,500.00

### 3. What are Sub-Queries ?

- In MS SQL Server, a subquery is a query nested inside another query(SELECT, INSERT, UPDATE, DELETE). It is used to retrieve data that will be used in the main query as a condition or to perform further operations.

### 4. Different types of Sub-Queries

#### a. Scalar Subquery
- Return a single value.
- Use with operators like =, >, <, IN, etc.

```sql
-- Syntax
SELECT column_name
FROM table_name
WHERE column_name = (SELECT ...);
```

In [4]:
-- Example
SELECT ProductName
FROM Products
WHERE Price = (SELECT MAX(Price) FROM Products);

ProductName
Laptop

#### b. Single-row Subquery
```sql
-- Syntax
SELECT column_name
FROM table_name
WHERE column_name OPERATOR (SELECT ...);
```

In [5]:
-- Example
SELECT ProductName
FROM Products
WHERE Price > (SELECT AVG(Price) FROM Products);

ProductName
Laptop
Phone

#### c. Multiple-row Subquery

- Return multiple values.
- Often used with IN, ANY, or ALL operators.

```sql
-- Syntax
SELECT column_name
FROM table_name
WHERE column_name OPERATOR ALL (SELECT ...);
```

In [6]:
-- Example
SELECT ProductName
FROM Products
WHERE Price > ALL (SELECT Price FROM Products WHERE Category = 'Furniture');

ProductName
Laptop
Phone

#### d. Correlated Subquery

- Dependent on the outer query's row value.
- Executed for each row in the outer query.

```sql
-- Syntax
SELECT column_name
FROM table_name t1
WHERE column_name OPERATOR (SELECT ... FROM table_name t2 WHERE t2.column_name = t1.column_name);
```

In [7]:
-- Example
SELECT ProductName
FROM Products p1
WHERE Price > (SELECT AVG(Price) FROM Products p2 WHERE p2.Category = p1.Category);

ProductName
Laptop
Desk

### 5. Practical applications

- **Filtering:** Subqueries can be used to filter data based on results from another query.
- **Aggregation:** Calculating aggregates (e.g., average, maximum) within a subquery for use in the main query.
- **Conditional Operations:** Using subqueries to perform conditional operations.

### 6. Considerations and Peculiarities:

- **Performance:** Subqueries can impact performance, so it's important to optimize them.
- **Data Type Compatibility:** Ensure that the data types of the columns used in subqueries are compatible.
- Avoid overly complex or nested subqueries.
- Consider using joins or alternative techniques when applicable.

### 7. Most common mistakes

- **Incorrect Syntax:** Not using proper syntax or placing subqueries in inappropriate clauses.
- **Data Type Mismatch:** Neglecting to ensure data type compatibility between the subquery and the main query.
- Using incorrect operators with subqueries.
- Not handling null values appropriately.
- Correlated subqueries with unintended side effects.

### 8. Handson

#### Question 1:
Retrieve the product names with prices higher than the average price for furniture.

#### Solution:

In [8]:
SELECT ProductName
FROM Products
WHERE Price > (SELECT AVG(Price) FROM Products WHERE Category = 'Furniture');

ProductName
Laptop
Desk
Phone

#### Question 2:

Find the product with the highest price.

#### Solution:

In [9]:

SELECT ProductName

FROM Products

WHERE Price = (SELECT MAX(Price) FROM Products);

ProductName
Laptop

#### Question 3:

Retrieve the product names with prices higher than the price of the 'Laptop'.

#### Solution:

In [10]:

SELECT ProductName

FROM Products

WHERE Price > (SELECT Price FROM Products WHERE ProductName = 'Laptop');

### 9. Practice Exercise

#### Question 1:
Retrieve the product names and categories for products with prices greater than $100.

#### Question 2:
Find the products in the same category as 'Chair' with prices higher than the 'Chair'.

#### Question 3:
Retrieve the product names and prices for products in the 'Electronics' category.

### 10. EXTRAS

![](/Users/laxman/Documents/1.PROJECTS/DataScienceLearnersHub/images/DSLH-SubQueries.jpeg)