# **Data Science Learners Hub**

**Module : SQL**

**Topic : Creating Database and Tables**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

### **Creating a new database**

**Syntax :** 

CREATE DATABASE database\_name;

In [ ]:
CREATE DATABASE DataScienceLearnersHub

### **SQL USE Statement**

- The **USE** statement in SQL is used to specify the database that you want to work with or make active. It is often used at the beginning of a SQL script or query to indicate the database context in which the subsequent SQL statements should be executed.
    

**Syntax :**

USE database\_name;

In [2]:
USE DataScienceLearnersHub

### **Creating a new Table**

- **
    
    The **CREATE TABLE** command in SQL is used to define and create a new table in a database. A table is a structured collection of data organized into rows and columns. Each column in the table represents a specific attribute, and each row represents a record or a data entry.
    
    The basic syntax for the **CREATE TABLE** statement is as follows:
    
    **

**Syntax:**

CREATE TABLE table\_name (

    column1 datatype1,

    column2 datatype2,

    column3 datatype3,

    ...

); 

\-- **Note :** here semicolon is not mandatory  

  

Here's a brief explanation of the components:

- **table\_name**: This is the name you give to the table. It should be unique within the database.
- **column1, column2, column3, ...**: These are the names of the columns in the table.
- **datatype1, datatype2, datatype3, ...**: These are the data types associated with each column, specifying the type of data that can be stored in that column (e.g., VARCHAR for variable-length strings, INT for integers, etc.).

When you execute the **CREATE TABLE** command, the following actions typically occur:

- **Table Creation:** A new table with the specified name is created in the database.
- **Column Definition:** The columns specified in the command are defined with their respective data types.
- **Constraints:** Additional constraints, such as primary keys, foreign keys, and uniqueness constraints, can be defined to enforce data integrity rules.
- **Table Storage:** The database allocates storage space for the new table on the disk

In [1]:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    salary DECIMAL(10,2)
);

The above SQL command creates a table named "employees" with columns for employee ID, first name, last name, and salary. The **PRIMARY KEY** constraint is used to ensure that the **employee\_id** column contains unique values.

After executing this command, you can start inserting data into the "employees" table using the **INSERT INTO** statement, and you can perform various operations on the data using SQL queries.