# **`Data Science Learners Hub`**

**Module : SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

### **`# WHILE Loop in SQL`**

**1. Introduction:**

The `WHILE` loop in MS SQL Server is a control flow statement that allows you to repeatedly execute a block of SQL statements as long as a specified condition is true. It provides a way to perform iterative tasks in SQL scripts, making it a valuable tool for handling repetitive operations.

**2. Why Learn This Topic:**

Learning the `WHILE` loop is essential in SQL programming as it adds a dynamic and iterative aspect to your scripts. It allows you to execute a set of SQL statements multiple times until a specific condition is met, providing a solution for scenarios where you need to perform a task repeatedly.

**3. Real-world Applications:**

Consider a scenario where you have an e-commerce database, and you need to apply a discount to all products in a certain category. The `WHILE` loop can be used to iterate through the products in that category and apply the discount to each one until all products are processed.

**4. Syntax:**

```sql
DECLARE @counter INT = 1;

WHILE @counter <= 10
BEGIN
    -- SQL statements to be executed repeatedly
    PRINT 'Iteration ' + CAST(@counter AS VARCHAR(10));
    
    -- Increment the counter
    SET @counter = @counter + 1;
END
```

**5. Practical Applications:**

- `Data Transformation`: Iterating through records to apply specific transformations.

- `Data Cleanup`: Repeatedly checking and cleaning data based on certain criteria.

- `Calculations`: Performing iterative calculations or updates.

**6. Considerations:**

- Ensure that the condition specified in the `WHILE` loop eventually becomes false to prevent an infinite loop.

- Be cautious about the performance implications of using loops in SQL, especially when dealing with large datasets.

- `Performance`: Use set-based operations where possible, as loops can be resource-intensive. (`Note :` What are set-based operations is explained at the end)

- Use variables to control loop execution and track progress.

- Consider alternative looping constructs like cursors or recursive CTEs for specific use cases.

**7. Common Mistakes:**

- Using `WHILE` loops unnecessarily when a set-based solution might be more efficient.

- `Missing Increment/Decrement`: Forgetting to update the loop variable may lead to an infinite loop.

- `Incorrect Condition`: Specifying a condition that is always true, causing an infinite loop.

- Forgetting to initialize variables used in the condition.

- Neglecting to update variables within the loop, leading to infinite loops.

**8. Hands-on Experience:**

Let's create a sample table and explore the use of the `WHILE` loop:

In [1]:
USE DataScienceLearnersHub

In [3]:
DROP TABLE NUmbers

In [4]:
-- Creating a Sample Table
CREATE TABLE Numbers (
    Number INT
);

-- Inserting Sample Data
INSERT INTO Numbers VALUES (1);
INSERT INTO Numbers VALUES (2);
INSERT INTO Numbers VALUES (3);
INSERT INTO Numbers VALUES (4);
INSERT INTO Numbers VALUES (5);
INSERT INTO Numbers VALUES (6);
INSERT INTO Numbers VALUES (7);
INSERT INTO Numbers VALUES (8);
INSERT INTO Numbers VALUES (9);
INSERT INTO Numbers VALUES (10);

SELECT * FROM Numbers

Number
1
2
3
4
5
6
7
8
9
10

**Questions Based on the Table:**

**Q1. Simple Iteration:**
   - Write a script using the `WHILE` loop to iterate through the Numbers table and print each number.

In [5]:
-- Executing Script
DECLARE @counter INT = 1;

WHILE @counter <= 10
BEGIN
    DECLARE @number INT;

    SELECT @number = Number
    FROM Numbers
    WHERE Number = @counter;

    PRINT 'Number: ' + CAST(@number AS VARCHAR(10));
    
    -- Increment the counter
    SET @counter = @counter + 1;
END

**2. Conditional Update:**
   - Extend the script to update the Numbers table, setting the value to double if it is an even number.

In [6]:
-- Executing Script
DECLARE @counter INT = 1;

WHILE @counter <= 10
BEGIN
    DECLARE @number INT;

    SELECT @number = Number
    FROM Numbers
    WHERE Number = @counter;

    -- Check if the number is even
    IF @number % 2 = 0
    BEGIN
        UPDATE Numbers
        SET Number = @number * 2
        WHERE Number = @counter;
    END

    -- Increment the counter
    SET @counter = @counter + 1;
END

**9. Homework Assignment:**

1. **Advanced Iteration:**
   - Write a script using the `WHILE` loop to iterate through the Numbers table and print each number only if it is a prime number.

2. **Dynamic Conditions:**
   - Experiment with dynamic conditions in the `WHILE` loop. For example, use a variable to store an upper limit, and iterate through the Numbers table until that limit is reached.

3. **Nested Loops:**
   - Explore the use of nested `WHILE` loops. For instance, create a script that iterates through the Numbers table twice and performs different actions based on the current iteration.

4. **Conditional Deletion:**
   - Write a script using the `WHILE` loop to iterate through the Numbers table and delete each number that is divisible by 3.

5. **Custom Iteration:**
   - Implement a custom iteration using the `WHILE` loop to achieve a specific task related to your dataset. For example, updating a column based on complex conditions.

**10. Some Facts:**

- The `WHILE` loop is a fundamental construct in procedural programming and is widely used in SQL scripts for various purposes.

- Efficient use of `WHILE` loops involves carefully designing the loop condition and understanding the impact on performance.

- In SQL Server, set-based operations are often preferred over iterative approaches for better performance, but there are scenarios where the `WHILE` loop is the most appropriate solution.

**11. Extra Innings**

**What are set based operations ?**

- The statement "Performance: Use set-based operations where possible, as loops can be resource-intensive" refers to a best practice in database query optimization.

- In the context of SQL Server, set-based operations refer to manipulating entire sets of data at once, typically using SQL statements that operate on entire tables or result sets. Examples of set-based operations include UPDATE, DELETE, and INSERT statements that modify or retrieve data across multiple rows in a single operation.

- On the other hand, loops, such as those implemented using the WHILE loop in T-SQL, involve iterating over individual rows one at a time. While loops are procedural and row-wise in nature, which means they process data row by row.

- The advice to favor set-based operations over loops is rooted in the efficiency of database engines when handling large datasets. Set-based operations are optimized by the database engine and are generally more efficient because they allow the engine to perform operations on entire sets of data in a single pass. This reduces the need for explicit iteration and can lead to better performance.

Here's a breakdown of the key points:

a. **Set-Based Operations (Preferred):**
   - Operate on entire sets of data.
   - Well-optimized and more efficient for large datasets.
   - Use SQL statements like UPDATE, DELETE, and INSERT to perform operations across multiple rows simultaneously.

b. **Loops (Less Preferred):**
   - Operate on data row by row.
   - Can be resource-intensive, especially for large datasets.
   - Use constructs like the WHILE loop to iterate over individual rows.

In summary, while loops have their use cases, it's advisable to leverage set-based operations when possible for improved performance and efficiency. This becomes particularly crucial when dealing with large volumes of data, where set-based operations can lead to faster and more optimized query execution.