# **Data Science Learners Hub**

**Module : SQL**

**Topic :** Data Definition Language (DDL)

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

In [2]:
USE DataScienceLearnersHub

### **1\. Create a simple table:**

  

- Let's create a table named \`Employees\` to illustrate examples for DDL.

In [4]:
CREATE TABLE tblEmployees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50),
    Salary DECIMAL(10, 2)
);

### **2\. Insert queries:**

  

- Insert some sample data into the table:

In [6]:
INSERT INTO tblEmployees VALUES (1, 'Laxman', 'Rathod', 'IT', 60000.00);
INSERT INTO tblEmployees VALUES (2, 'Abhiram', 'A', 'HR', 50000.00);
INSERT INTO tblEmployees VALUES (3, 'Padma', 'Chauhan', 'Finance', 70000.00);
INSERT INTO tblEmployees VALUES (4, 'Naresh', 'M', 'IT', 55000.00);
INSERT INTO tblEmployees VALUES (5, 'Hari', 'Singh', 'Marketing', 65000.00);

### **3\. Data Definition Language (DDL) in MS SQL Server:**

  

- Data Definition Language (DDL) in SQL Server is a set of commands used to define, modify, and delete database structures. 
- Common DDL commands include CREATE, ALTER, and DROP.

### **4\. Types of DDL Commands:**

**a. CREATE TABLE:**

- Creates a new table in the database.

**Syntax :**

  

  CREATE TABLE table\_name (

      column1 datatype,

      column2 datatype,

      ...

  );

In [7]:
 --  This command creates a new table named `Departments` with columns `DepartmentID` and `DepartmentName`.
 
 CREATE TABLE Departments (
      DepartmentID INT PRIMARY KEY,
      DepartmentName VARCHAR(50)
  );

**b. ALTER TABLE:**

- Modifies an existing table structure, such as adding, modifying, or dropping columns.

**Syntax :**

  ALTER TABLE table\_name

  \[ADD column\_name datatype\]

  \[ALTER COLUMN column\_name datatype\]

  \[DROP COLUMN column\_name\];

In [8]:
SELECT * FROM tblEmployees

EmployeeID,FirstName,LastName,Department,Salary
1,Laxman,Rathod,IT,60000.00
2,Abhiram,A,HR,50000.00
3,Padma,Chauhan,Finance,70000.00
4,Naresh,M,IT,55000.00
5,Hari,Singh,Marketing,65000.00

In [14]:
  -- Add a new column
  ALTER TABLE tblEmployees
  ADD Email VARCHAR(100);

In [15]:
SELECT * FROM tblEmployees

EmployeeID,FirstName,LastName,Department,Salary,Email
1,Laxman,Rathod,IT,60000.00,NULL
2,Abhiram,A,HR,50000.00,NULL
3,Padma,Chauhan,Finance,70000.00,NULL
4,Naresh,M,IT,55000.00,NULL
5,Hari,Singh,Marketing,65000.00,NULL

In [3]:
  -- Modify column data type
ALTER TABLE tblEmployees
ALTER COLUMN Email VARCHAR(100);

**c. DROP TABLE**

- <span style="color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;; font-size: 13px;">Deletes an existing table and its data.</span>

<span style="font-size: 13px;"><b>Syntax :</b></span>

 DROP TABLE table\_name;

In [4]:
DROP TABLE Departments;
--   This command deletes the `Departments` table.

**d. TRUNCATE TABLE**

- Removes all rows from a table but retains the table structure for future use

<span style="font-size: 13px;"><b>Syntax :</b></span>

  TRUNCATE TABLE table\_name;

In [5]:
SELECT * FROM tblEmployees

EmployeeID,FirstName,LastName,Department,Salary,Email
1,Laxman,Rathod,IT,60000.00,NULL
2,Abhiram,A,HR,50000.00,NULL
3,Padma,Chauhan,Finance,70000.00,NULL
4,Naresh,M,IT,55000.00,NULL
5,Hari,Singh,Marketing,65000.00,NULL

In [6]:
--   This command removes all rows from the `Employees` table, but the table structure remains intact.

TRUNCATE TABLE tblEmployees;

In [7]:
SELECT * FROM tblEmployees

**e. RENAME**

- Renames an existing table or column.
    

<span style="font-size: 13px;"><b>Syntax</b> :&nbsp;</span>   <span style="color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;; font-size: 13px;">sp_rename '[OLD_NAME]', '[NEW_NAME]';</span>

In [8]:
  sp_rename 'tblEmployees', 'tblEmployeesNew';

In [9]:
SELECT * FROM tblEmployees

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'tblEmployees'.

In [10]:
SELECT * FROM tblEmployeesNew

### **5\. Practical application of DDL:**

  

DDL commands are essential for database schema management. In real-world scenarios, you use DDL to:

  

\- Create tables to store data.

\- Modify tables by adding, modifying, or dropping columns.

\- Delete tables when they are no longer needed.

\- Create or modify indexes, constraints, and other database objects.

### **6\. Peculiarities and Considerations:**

  

\- DDL commands are generally used by database administrators to define and manage the database structure.

\- Be cautious when using DROP commands, as they permanently delete database objects.

### **7\. Common mistakes:**

  

\- Forgetting to specify the data type for a column when creating a table.

\- Misplacing commas or semicolons in the syntax.

\- Not using proper permissions to execute DDL commands.