# **Data Science Learners Hub**

**Module : SQL**

**Topic :** <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-weight: 600;">Math Functions</span>

**email** : [luckyrathod.forum@gmail.com](mailto:luckyrathod.forum@gmail.com)

### **What are Math Functions in SQL?**

  

- Math functions in SQL are operations or functions that perform mathematical calculations on numeric data types. These functions allow you to perform various mathematical operations, such as addition, subtraction, multiplication, division, rounding, and more, on numeric values stored in the database.

In [3]:
USE DataScienceLearnersHub

In [4]:
SELECT * FROM employeeDetails

id,name,gender,salary,department,FullName,MonthlySalary,EmailAddress,age
1,Laxman,Male,5000,Sales,Laxman Sales,416,Laxman_1@company.com,27
2,Padma,Female,6000,Finance,Padma Finance,500,Padma_2@company.com,33
3,Naina,Female,7500,IT,Naina IT,625,Naina_3@company.com,41
4,Ramulu,Male,6500,HR,Ramulu HR,541,Ramulu_4@company.com,36
5,Harshita,Female,5500,Marketing,Harshita Marketing,458,Harshita_5@company.com,30
6,Rajesh,Male,8000,Sales,Rajesh Sales,666,Rajesh_6@company.com,44
7,Tikram,Male,7200,Finance,Tikram Finance,600,Tikram_7@company.com,40
8,Ganga,Female,6600,IT,Ganga IT,550,Ganga_8@company.com,36
9,Jamuna,Female,5400,HR,Jamuna HR,450,Jamuna_9@company.com,30
10,Namrata,Female,6300,Marketing,Namrata Marketing,525,Namrata_10@company.com,35
11,Bunny,Male,5700,Sales,Bunny Sales,475,Bunny_11@company.com,31
12,Abhiram,Male,7000,Finance,Abhiram Finance,583,Abhiram_12@company.com,38
13,Varsha,Female,7100,IT,Varsha IT,591,Varsha_13@company.com,39
14,Ananya,Female,6800,HR,Ananya HR,566,Ananya_14@company.com,37
15,Nikhil,Male,5000,Marketing,Nikhil Marketing,416,Nikhil_15@company.com,27
16,Bala,Female,5800,HR,Bala HR,483,Bala_16@company.com,32
17,Lax%man,Male,5000,Sales,Lax%man Sales,416,Lax%man_17@company.com,27
18,Lucky143,Male,20000,IT,Lucky143 IT,1666,Lucky143_18@company.com,111

### **SQL Math Functions/ Operations**
| Function         | Syntax                  | Input                   | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|-------------------------|-------------------------|-------------|----------------------------------------------|----------------------------------------------|
| **Basic Arithmetic Operators** | | | | | |
| Addition         | `+`                     | Numeric values          | Numeric     | Adds two numbers together.                   | None                                         |
| Subtraction      | `-`                     | Numeric values          | Numeric     | Subtracts one number from another.           | None                                         |
| Division         | `/`                     | Numeric values          | Numeric     | Divides one number by another.               | <mark>**Division by zero results in an error.**</mark>        |
| Multiplication   | `*`                     | Numeric values          | Numeric     | Multiplies two numbers.                      | None                                         |
| **Rounding Functions** | | | | | |
| ROUND()          | `ROUND(expression, decimals)` | Numeric value, Integer  | Numeric     | Rounds a number to a specified number of decimal places. | <mark>**`decimals` can be negative for rounding to the left of the decimal point.**</mark> |
| CEILING()        | `CEILING(expression)`   | Numeric value           | Integer     | <mark>Rounds up to the nearest integer.</mark>            | None                                         |
| FLOOR()          | `FLOOR(expression)`     | Numeric value           | Integer     | <mark>Rounds down to the nearest integer.</mark>          | None                                         |
| **Exponential and Logarithmic Functions** | | | | | |
| POWER()          | <mark>`POWER(base, exponent)`</mark> | Numeric values          | Numeric     | Raises a number to the power of another.     | None                                         |
| SQRT()           | `SQRT(expression)`     | Numeric value           | Numeric     | Returns the square root of a number.         | <mark>**Only accepts non-negative input values.**</mark>      |
| ABS()            | <mark>**`ABS(expression)`**</mark>      | Numeric value           | Numeric     | <mark>Returns the absolute (positive) value of a number.</mark> | None                                         |
| SIGN()           | <mark>**`SIGN(expression)`**</mark>    | Numeric value           | Integer     | <mark>**Returns the sign of a number (-1, 0, or 1).**</mark> | <mark>**Returns 0 if the number is zero.**</mark>             |
| EXP()            | <mark>**`EXP(expression)`**</mark>      | Numeric value           | Numeric     | <mark>**Returns the exponential value of a number (e^x).**</mark> | None                                         |
| LOG()            | <mark>**`LOG(expression)`**</mark>      | Numeric value           | Numeric     | Returns the <mark>natural logarithm (base e)</mark> of a number. | <mark>Only accepts positive input values.</mark>          |
| LOG10()          | <mark>**`LOG10(expression)`**</mark>    | Numeric value           | Numeric     | Returns the <mark>base 10 logarithm</mark> of a number.   | <mark>Only accepts positive input values.</mark>          |
| **Constants and Random Number Generator** | | | | | |
| PI()             | <mark>**`PI()`**</mark>                  | None                    | Numeric     | Returns the mathematical constant π (pi).    | None                                         |
| RAND()           | <mark>**`RAND()`**</mark>                | None                    | Numeric     | <mark>**Returns a random float value between 0 and 1.**</mark> | <mark>**Calls to RAND() in the same query return different values.**</mark> |

In [6]:
DROP TABLE math_functions_demo

In [7]:
-- Create a temporary table for demonstration
CREATE TABLE math_functions_demo (
    number1 DECIMAL(10, 2),
    number2 DECIMAL(10, 2)
);

In [8]:
-- Insert sample data
INSERT INTO math_functions_demo (number1, number2) VALUES 
(10.5, 3),
(25.75, 4),
(7, 2),
(15, 0); -- To demonstrate division by zero error

In [9]:
SELECT * FROM math_functions_demo

number1,number2
10.50,3.00
25.75,4.00
7.00,2.00
15.00,0.00

#### Basic Arithmetic Operators

| Function         | Syntax             | Input                   | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|--------------------|-------------------------|-------------|----------------------------------------------|----------------------------------------------|
| Addition         | `+`                | Numeric values          | Numeric     | Adds two numbers together.                   | None                                         |
| Subtraction      | `-`                | Numeric values          | Numeric     | Subtracts one number from another.           | None                                         |
| Division         | `/`                | Numeric values          | Numeric     | Divides one number by another.               | <mark>**Division by zero results in an error.**</mark>        |
| Multiplication   | `*`                | Numeric values          | Numeric     | Multiplies two numbers.                      | None

In [10]:
-- Basic Arithmetic Operators
SELECT 
    number1 + number2 AS Addition,
    number1 - number2 AS Subtraction,
    number1 / number2 AS Division, -- Note: This will cause an error due to division by zero
    number1 * number2 AS Multiplication
FROM math_functions_demo;

Addition,Subtraction,Division,Multiplication
13.50,7.50,3.5000000000000,31.5000
29.75,21.75,6.4375000000000,103.0000
9.00,5.00,3.5000000000000,14.0000

: Msg 8134, Level 16, State 1, Line 2
Divide by zero error encountered.

#### Rounding Functions

| Function         | Syntax                  | Input                   | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|-------------------------|-------------------------|-------------|----------------------------------------------|----------------------------------------------|
| ROUND()          | `ROUND(expression, decimals)` | Numeric value, Integer  | Numeric     | Rounds a number to a specified number of decimal places. | <mark>**`decimals` can be negative for rounding to the left of the decimal point.**</mark>|
| CEILING()        | `CEILING(expression)`   | Numeric value           | Integer     | <mark>Rounds up to the nearest integer.</mark>            | None                                         |
| FLOOR()          | `FLOOR(expression)`     | Numeric value           | Integer     | <mark>Rounds down to the nearest integer. </mark>         | None                                         |

In [11]:
-- Rounding Functions
SELECT 
    ROUND(number1, 1) AS RoundedNumber1,
    CEILING(number1) AS CeiledNumber1,
    FLOOR(number1) AS FlooredNumber1
FROM math_functions_demo;

RoundedNumber1,CeiledNumber1,FlooredNumber1
10.50,11,10
25.80,26,25
7.00,7,7
15.00,15,15

#### Exponential and Logarithmic Functions

| Function         | Syntax             | Input                   | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|--------------------|-------------------------|-------------|----------------------------------------------|----------------------------------------------|
| POWER()          | `POWER(base, exponent)` | Numeric values          | Numeric     | <mark>Raises a number to the power of another. </mark>    | None                                         |
| SQRT()           | `SQRT(expression)` | Numeric value           | Numeric     | Returns the square root of a number.         | <mark>**Only accepts non-negative input values.**</mark>      |
| <mark>**ABS()**</mark>            | `ABS(expression)`  | Numeric value           | Numeric     | Returns the absolute (positive) value of a number. | None                                         |
| <mark>**SIGN()**</mark>           | `SIGN(expression)` | Numeric value           | Integer     | <mark>**Returns the sign of a number (-1, 0, or 1).**</mark>  | <mark>**Returns 0 if the number is zero.**</mark>             |
| EXP()            | <mark>**`EXP(expression)`**</mark>  | Numeric value           | Numeric     | <mark>**Returns the exponential value of a number (e^x)**</mark>. | None                                         |
| LOG()            | <mark>**`LOG(expression)`**</mark>  | Numeric value           | Numeric     | Returns the natural logarithm (base e) of a number. | <mark>Only accepts positive input values.</mark>          |
| LOG10()          | <mark>**`LOG10(expression)`**</mark>| Numeric value           | Numeric     | Returns the base 10 logarithm of a number.   | <mark>Only accepts positive input values.</mark>          |

In [12]:
-- Exponential and Logarithmic Functions
SELECT 
    POWER(number1, 2) AS PowerOfNumber1,
    SQRT(number1) AS SquareRootOfNumber1,
    ABS(number1) AS AbsoluteValueOfNumber1,
    SIGN(number1) AS SignOfNumber1,
    EXP(number1) AS ExponentialOfNumber1,
    LOG(number1) AS NaturalLogarithmOfNumber1,
    LOG10(number1) AS LogBase10OfNumber1
FROM math_functions_demo;

PowerOfNumber1,SquareRootOfNumber1,AbsoluteValueOfNumber1,SignOfNumber1,ExponentialOfNumber1,NaturalLogarithmOfNumber1,LogBase10OfNumber1
110.25,3.24037034920393,10.50,1.00,36315.502674246636,2.3513752571634776,1.021189299069938
663.06,5.07444578254611,25.75,1.00,152434373093.43985,3.248434627109745,1.4107772333772097
49.00,2.6457513110645907,7.00,1.00,1096.6331584284585,1.9459101490553132,0.8450980400142568
225.00,3.872983346207417,15.00,1.00,3269017.3724721107,2.70805020110221,1.1760912590556813

#### Constants and Random Number Generator

| Function         | Syntax             | Input                   | Return Type | One-line Explanation                         | Peculiarities/Considerations                  |
|------------------|--------------------|-------------------------|-------------|----------------------------------------------|----------------------------------------------|
| PI()             | <mark>**`PI()`**</mark>             | None                    | Numeric     | <mark>**Returns the mathematical constant π (pi).**</mark>    | None                                         |
| RAND()           | <mark>**`RAND()`**</mark>           | None                    | Numeric     | <mark>**Returns a random float value between 0 and 1.**</mark> | <mark>**Calls to RAND() in the same query return different values.**</mark> |

In [13]:
-- Constants and Random Number Generator
SELECT 
    PI() AS PiValue,
    RAND() AS RandomValue;

PiValue,RandomValue
3.141592653589793,0.671770657561982

### **Some more examples of Math Functions**

**<u>Basic Arithmetic Functions:</u>**

**Addition (\`+\`):**

In [4]:
SELECT TOP 5 name, salary + MonthlySalary AS TotalIncome
FROM employeeDetails;

name,TotalIncome
Laxman,5416
Padma,6500
Naina,8125
Ramulu,7041
Harshita,5958

**Subtraction (\`-\`):**

In [5]:
SELECT TOP 5 name, salary - MonthlySalary AS NetIncome
FROM employeeDetails;

name,NetIncome
Laxman,4584
Padma,5500
Naina,6875
Ramulu,5959
Harshita,5042

**Multiplication (\`\*\`):**

In [7]:
SELECT TOP 5 name, salary * 12 AS AnnualSalary
FROM employeeDetails;

name,AnnualSalary
Laxman,60000
Padma,72000
Naina,90000
Ramulu,78000
Harshita,66000

**Division (\`/\`):**

In [8]:
SELECT TOP 5 name, salary / 12 AS MonthlyAverageSalary
FROM employeeDetails;

name,MonthlyAverageSalary
Laxman,416
Padma,500
Naina,625
Ramulu,541
Harshita,458

### **Rounding Functions:**

**ROUND()**: Rounds a numeric expression to the specified number of decimal places.

In [10]:
SELECT TOP 5 name, ROUND(MonthlySalary * 1.1, 2) AS IncreasedSalary
FROM employeeDetails;

name,IncreasedSalary
Laxman,457.6
Padma,550.0
Naina,687.5
Ramulu,595.1
Harshita,503.8

**CEILING()**

In [12]:
SELECT TOP 5 name, CEILING(salary / 1000.0) AS ThousandMultiplier
FROM employeeDetails;

name,ThousandMultiplier
Laxman,5
Padma,6
Naina,8
Ramulu,7
Harshita,6

**FLOOR()**

In [13]:
SELECT TOP 5 name, FLOOR(MonthlySalary / 100) AS HundredDivider
FROM employeeDetails;

name,HundredDivider
Laxman,4
Padma,5
Naina,6
Ramulu,5
Harshita,4

### **Power and Square Root Functions:**

**POWER()**

In [14]:
SELECT TOP 5 name, POWER(age, 2) AS AgeSquared
FROM employeeDetails;

name,AgeSquared
Laxman,729
Padma,1089
Naina,1681
Ramulu,1296
Harshita,900

**SQRT()**

In [15]:
SELECT TOP 5 name, SQRT(MonthlySalary) AS MonthlySalarySquareRoot
FROM employeeDetails;

name,MonthlySalarySquareRoot
Laxman,20.396078054371138
Padma,22.360679774997898
Naina,25
Ramulu,23.259406699226016
Harshita,21.400934559032695

### **Some more Math functions**

**ABS() - Absolute Value Function:**

- Returns the absolute (positive) value of a numeric expression.

In [1]:
SELECT ABS(-15) AS AbsoluteValue;

AbsoluteValue
15

**SIGN() - Sign Function:**

- Returns the sign of a numeric expression (1 for positive, 0 for zero, -1 for negative

In [6]:
SELECT TOP 5 SIGN(salary - 2000) AS FinancialStatus FROM employeeDetails;

FinancialStatus
1
1
1
1
1

**EXP() - Exponential Function:**

   \- Returns the exponential value of a numeric expression.

In [7]:
SELECT EXP(2) AS ExponentialValue;

ExponentialValue
7.38905609893065

**LOG() - Natural Logarithm Function:**

   \- Returns the natural logarithm of a specified number.

In [8]:
SELECT LOG(10) AS NaturalLogarithm;

NaturalLogarithm
2.302585092994046

**LOG10() - Base-10 Logarithm Function:**

   \- Returns the base-10 logarithm of a specified number.

In [9]:
SELECT LOG10(100) AS LogBase10;

LogBase10
2

**PI() - Pi Function:**

   \- Returns the mathematical constant pi (π).

In [10]:
SELECT PI() AS PiValue;

PiValue
3.141592653589793

**RAND() - Random Number Function:**

   - Returns a random float value between 0 and 1.

In [11]:
SELECT RAND() AS RandomValue;

RandomValue
0.23221384062995562

### **Peculiarities and Considerations for Math Functions:**

- **Data Type Compatibility:** Ensure that the data types used in math functions are compatible to avoid unexpected results or errors.
- **Precision and Scale**: Be mindful of precision and scale when dealing with numeric calculations. Rounding may be necessary to control the number of decimal places.
- **Divide by Zero**: Be cautious about dividing by zero, as it can lead to runtime errors. Use appropriate checks or handle such scenarios.

### **Most Common Mistakes while Using Math Functions:**

- **Divide by Zero**: Forgetting to check for zero denominators when performing division.
- **Data Type Mismatch:** Ensuring that the data types of the operands are compatible with the intended operation.
- **Order of Operations:** Understanding the order in which operations are executed in a query and using parentheses to control the sequence if needed.
- **Rounding Errors:** Being aware of potential rounding errors, especially when dealing with floating-point numbers.