# **Data Science Learners Hub**

**Module : SQL**

**Topic :** <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-weight: 600;">String Functions</span>

**email** : [luckyrathod.forum@gmail.com](mailto:luckyrathod.forum@gmail.com)

## **String Functions in SQL**

### **What are String Functions in SQL?**

  

- String functions in SQL are special operations or methods that are applied to character or text data. These functions allow you to manipulate and perform operations on strings, such as extracting a substring, changing the case, concatenating strings, searching for a specific pattern, and more.

In [2]:
USE DataScienceLearnersHub

In [3]:
SELECT * FROM employeeDetails

id,name,gender,salary,department,FullName,MonthlySalary,EmailAddress,age
1,Laxman,Male,5000,Sales,Laxman Sales,416,Laxman_1@company.com,27
2,Padma,Female,6000,Finance,Padma Finance,500,Padma_2@company.com,33
3,Naina,Female,7500,IT,Naina IT,625,Naina_3@company.com,41
4,Ramulu,Male,6500,HR,Ramulu HR,541,Ramulu_4@company.com,36
5,Harshita,Female,5500,Marketing,Harshita Marketing,458,Harshita_5@company.com,30
6,Rajesh,Male,8000,Sales,Rajesh Sales,666,Rajesh_6@company.com,44
7,Tikram,Male,7200,Finance,Tikram Finance,600,Tikram_7@company.com,40
8,Ganga,Female,6600,IT,Ganga IT,550,Ganga_8@company.com,36
9,Jamuna,Female,5400,HR,Jamuna HR,450,Jamuna_9@company.com,30
10,Namrata,Female,6300,Marketing,Namrata Marketing,525,Namrata_10@company.com,35
11,Bunny,Male,5700,Sales,Bunny Sales,475,Bunny_11@company.com,31
12,Abhiram,Male,7000,Finance,Abhiram Finance,583,Abhiram_12@company.com,38
13,Varsha,Female,7100,IT,Varsha IT,591,Varsha_13@company.com,39
14,Ananya,Female,6800,HR,Ananya HR,566,Ananya_14@company.com,37
15,Nikhil,Male,5000,Marketing,Nikhil Marketing,416,Nikhil_15@company.com,27
16,Bala,Female,5800,HR,Bala HR,483,Bala_16@company.com,32
17,Lax%man,Male,5000,Sales,Lax%man Sales,416,Lax%man_17@company.com,27

### **Different Types of String Functions in SQL with Examples:**

**LEN() Function:** Returns the length of a string.

In [9]:
   SELECT TOP 5 name, LEN(name) AS NameLength FROM employeeDetails;

name,NameLength
Laxman,6
Padma,5
Naina,5
Ramulu,6
Harshita,8

**UPPER() and LOWER() Functions:**

- UPPER() converts a string to uppercase.
- LOWER() converts a string to lowercase.

In [10]:
   SELECT Top 5 name, UPPER(name) AS UpperName, LOWER(name) AS LowerName FROM employeeDetails;

name,UpperName,LowerName
Laxman,LAXMAN,laxman
Padma,PADMA,padma
Naina,NAINA,naina
Ramulu,RAMULU,ramulu
Harshita,HARSHITA,harshita

**SUBSTRING() Function:**

- Extracts a substring from a string.

In [11]:
SELECT TOP 5 name, SUBSTRING(name, 1, 3) AS SubName FROM employeeDetails;

name,SubName
Laxman,Lax
Padma,Pad
Naina,Nai
Ramulu,Ram
Harshita,Har

**CONCAT() Function:**

- Concatenates two or more strings.

In [12]:
SELECT TOP 5 name, department, CONCAT(name, ' - ', department) AS FullName FROM employeeDetails;

name,department,FullName
Laxman,Sales,Laxman - Sales
Padma,Finance,Padma - Finance
Naina,IT,Naina - IT
Ramulu,HR,Ramulu - HR
Harshita,Marketing,Harshita - Marketing

**CHARINDEX()  Function:**

- CHARINDEX() returns the starting position of a substring in a string.

In [13]:
SELECT TOP 5 name, CHARINDEX('a', name) AS PositionOfA FROM employeeDetails;

name,PositionOfA
Laxman,2
Padma,2
Naina,2
Ramulu,2
Harshita,2

**REPLACE() Function:**

- Replaces occurrences of a specified string.

In [15]:
   SELECT TOP 5 name, REPLACE(name, 'a', 'X') AS NameWithX FROM employeeDetails;

name,NameWithX
Laxman,LXxmXn
Padma,PXdmX
Naina,NXinX
Ramulu,RXmulu
Harshita,HXrshitX

**LTRIM() and RTRIM() Functions:**

- LTRIM() removes leading spaces from a string.
- RTRIM() removes trailing spaces from a string.

In [16]:
SELECT LTRIM('  Hello') AS TrimmedLeft, RTRIM('Hello  ') AS TrimmedRight;

TrimmedLeft,TrimmedRight
Hello,Hello

**LEFT() and RIGHT() Functions:**

   \- LEFT() returns a specified number of characters from the beginning of a string.

   \- RIGHT() returns a specified number of characters from the end of a string.

In [17]:
SELECT TOP 5 name, LEFT(name, 3) AS Left3, RIGHT(name, 3) AS Right3 FROM employeeDetails;

name,Left3,Right3
Laxman,Lax,man
Padma,Pad,dma
Naina,Nai,ina
Ramulu,Ram,ulu
Harshita,Har,ita

**STUFF() Function:**

   \- Deletes a specified length of characters and then inserts a new set of characters at a specified starting point.

In [18]:
SELECT TOP 5 STUFF(name, 3, 2, 'XX') AS ModifiedName FROM employeeDetails;

ModifiedName
LaXXan
PaXXa
NaXXa
RaXXlu
HaXXhita

**REPLICATE() Function:**

   \- Repeats a string a specified number of times.

In [19]:
SELECT TOP 5 name, REPLICATE(name, 2) AS RepeatedName FROM employeeDetails;

name,RepeatedName
Laxman,LaxmanLaxman
Padma,PadmaPadma
Naina,NainaNaina
Ramulu,RamuluRamulu
Harshita,HarshitaHarshita

**LEN() with DATALENGTH() Function:**

   \- LEN() returns the number of characters in a string, while DATALENGTH() returns the length in bytes.

In [20]:
SELECT TOP 5 name, LEN(name) AS CharLength, DATALENGTH(name) AS ByteLength FROM employeeDetails;

name,CharLength,ByteLength
Laxman,6,6
Padma,5,5
Naina,5,5
Ramulu,6,6
Harshita,8,8

**SPACE() Function:**

   \- Returns a string consisting of a specified number of spaces.

In [21]:
SELECT TOP 5 SPACE(5) + name AS PaddedName FROM employeeDetails;

PaddedName
Laxman
Padma
Naina
Ramulu
Harshita

**CONVERT() and CAST() Functions:**

- CONVERT() and CAST() are used for converting data types. They can be useful when dealing with string representations of dates or numbers.

**CONVERT()**

- <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);"><b>Syntax</b>&nbsp;: CONVERT(data_type, expression, [style])</span>
- <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);"><p class="p1" style="margin: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-kerning: auto; font-optical-sizing: auto; font-feature-settings: normal; font-variation-settings: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; color: rgb(0, 0, 0);">The <b>CONVERT()</b> function allows you to specify an optional third argument, the style, which is used for formatting date and time values.</p></span>

<span style="font-size: 13px;"><b>CAST()</b></span>

- <span style="font-size: 13px;">Syntax :&nbsp;</span> CAST(expression AS data\_type)
- The **CAST()** <span style="color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;; font-size: 13px;"> function uses a simpler syntax with the keyword </span> **AS** <span style="color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;; font-size: 13px;"> to indicate the target data type.</span>

In [27]:
SELECT TOP 5 name, CONVERT(VARCHAR, MonthlySalary) AS MonthlySalaryStr, CAST(age AS VARCHAR) AS AgeStr FROM employeeDetails;

name,MonthlySalaryStr,AgeStr
Laxman,416,27
Padma,500,33
Naina,625,41
Ramulu,541,36
Harshita,458,30

**FORMAT() Function:**

   \- Formats a value with the specified format mask.

In [28]:
SELECT name, FORMAT(GETDATE(), 'dd/MM/yyyy') AS FormattedDate FROM employeeDetails;

: Msg 10347, Level 16, State 1, Line 1
Common Language Runtime(CLR) is not enabled on this instance.

**PARSE() and TRY\_PARSE() Functions:**

   \- PARSE() converts a string to a specified data type.

   \- TRY\_PARSE() is similar but returns NULL if the conversion fails instead of an error.

In [36]:
SELECT name, PARSE('2022-01-01' AS DATE) AS ParsedDate, TRY_PARSE('NotADate' AS DATE) AS TryParsedDate FROM employeeDetails;

: Msg 10347, Level 16, State 1, Line 1
Common Language Runtime(CLR) is not enabled on this instance.

**STRING\_AGG() Function:**

   - Concatenates values from a column into a single string with a specified separator.

In [37]:
SELECT department, STRING_AGG(name, ', ') AS EmployeeList FROM employeeDetails GROUP BY department;

department,EmployeeList
Finance,"Padma, Tikram, Abhiram"
HR,"Ananya, Bala, Jamuna, Ramulu"
IT,"Naina, Ganga, Lucky143, Varsha"
Marketing,"Nikhil, Namrata, Harshita"
Sales,"Rajesh, Bunny, Laxman, Lax%man"

In [38]:
SELECT department, STUFF((SELECT ', ' + name FROM employeeDetails e2 WHERE e1.department = e2.department FOR XML PATH('')), 1, 2, '') AS EmployeeList FROM employeeDetails e1 GROUP BY department;

department,EmployeeList
Finance,"Padma, Tikram, Abhiram"
HR,"Ramulu, Jamuna, Ananya, Bala"
IT,"Naina, Ganga, Varsha, Lucky143"
Marketing,"Harshita, Namrata, Nikhil"
Sales,"Laxman, Rajesh, Bunny, Lax%man"

### **Peculiarities and Considerations for String Functions:**

- **Case Sensitivity**: String functions may be case-sensitive depending on the collation settings of the database.
- **Data Types**: Ensure that the data types used in string functions are compatible.
- **Performance**: Some string functions can impact performance, especially on large datasets. Also Complex string manipulations within queries can impact performance.

### **Most Common Mistakes while Using String Functions:**

- **Not Handling NULL Values:** Some functions may return unexpected results or errors when applied to NULL values.
- **Ignoring Collation:** Collation settings can affect string comparisons and sorting.
- **Incorrect Parameters:** Ensure that you provide the correct parameters to functions to avoid errors.
- **Data Type Mismatch:** Ensure that the data types used in string functions match the expected types.
- Misusing LIKE pattern matching operators.
- Not checking for NULL values in input strings.
- Forgetting to handle case sensitivity when necessary.
- Not considering potential performance impacts of complex string operations.
- Using inefficient string manipulation techniques.

**Note:**

- In the provided data, the \`Lax%man\` entry may cause issues in certain string functions due to the special character '%'. Proper handling or cleaning of such data may be necessary.

In [2]:
SELECT table_name
FROM information_schema.tables
WHERE table_type = 'BASE TABLE';

table_name
TestConstraints
employeeDetails
Emp
Emp_Temp
TEmp
Emp_Virtual_Column
Employees