# **Data Science Learners Hub**

**Module : SQL**

**Topic :** <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-weight: 600;">Practice Exercise - 01</span>

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

**Topics Covered**

- Create Tables
- INSERT
- UPDATE
- DELETE

### **Practice Questions for Table Creation:**

**1\. Customers Table:**

  

Create a table named \`customers\` with the following columns:

\- \`customer\_id\` of type \`INT\` as the primary key.

\- \`customer\_name\` of type \`VARCHAR(50)\` to store the customer's name.

\- \`email\` of type \`VARCHAR(100)\` as a unique key to store the customer's email address.

**2\. Orders Table:**

  

  

Design a table named \`orders\` with the following columns:

\- \`order\_id\` of type \`INT\` as the primary key.

\- \`customer\_id\` of type \`INT\` as a foreign key referencing the \`customer\_id\` column in the \`customers\` table.

\- \`order\_date\` of type \`DATE\` to store the date when the order was placed.

\- \`total\_amount\` of type \`DECIMAL(10, 2)\` to represent the total amount of the order.

**3\. Products Table:**

  

  

Create a table named \`products\` with the following columns:

\- \`product\_id\` of type \`INT\` as the primary key.

\- \`product\_name\` of type \`VARCHAR(50)\` to store the name of the product.

\- \`price\` of type \`DECIMAL(8, 2)\` to represent the price of the product.

### **Now Execute the following INSERT statements**

\-- Inserting values into 'customers'

INSERT INTO customers (customer\_id, customer\_name, email)

VALUES

    (1, 'Laxman', 'laxman[@example.com](mailto:john@example.com)'),

    (2, 'Padma', 'padma[@example.com](mailto:jane@example.com)'),

    (3, 'Harshita', 'harshita[@example.com](mailto:bob@example.com)');

\-- Inserting values into 'orders'

INSERT INTO orders (order\_id, customer\_id, order\_date, total\_amount)

VALUES

    (101, 1, '2023-01-15', 150.50),

    (102, 2, '2023-02-20', 200.75),

    (103, 3, '2023-03-10', 100.00);

\-- Inserting values into 'products'

INSERT INTO products (product\_id, product\_name, price)

VALUES

    (501, 'Laptop', 800.00),

    (502, 'Smartphone', 500.50),

    (503, 'Headphones', 50.75);

### **Practice Questions for INSERT Statements:**

**4\. Customers Table:**

Using the \`INSERT\` statement, add a new customer to the \`customers\` table with the following details:

\- \`customer\_id\`: 4

\- \`customer\_name\`: 'Naina'

\- \`email\`: 'naina[@example.com](mailto:eva@example.com)'

**5\. Orders Table:**

Write an \`INSERT\` statement to add a new order to the \`orders\` table with the following details:

\- \`order\_id\`: 104

\- \`customer\_id\`: 4

\- \`order\_date\`: '2023-04-05'

\- \`total\_amount\`: 120.25

**6\. Products Table:**

Using the \`INSERT\` statement, add a new product to the \`products\` table with the following details:

\- \`product\_id\`: 504

\- \`product\_name\`: 'Tablet'

\- \`price\`: 300.00

**7\. UPDATE:**

Write an \`UPDATE\` statement to change the 'customer\_name' of the customer with \`customer\_id\` 2 to 'Sirisha'.

**8\. Write an \`UPDATE\` statement to increase the 'price' of the product with \`product\_id\` 503 to 75.00.**

**9\. Write a \`DELETE\` statement to remove the customer with \`customer\_id\` 3 from the 'customers' table.**

**10\. Write a \`DELETE\` statement to remove the product with \`product\_id\` 502 from the '**