# **Data Science Learners Hub**

**Module : SQL**

**Topic :** **ALTER Command**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

## **# ALTER Command**

In [1]:
USE DataScienceLearnersHub

### **1\. Create a simple table to illustrate examples for ALTER Command**

In [2]:
CREATE TABLE Student (
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT,
    GPA DECIMAL(3, 2)
);

### **2\. Generate insert queries to insert values into the newly created table**

In [3]:
INSERT INTO Student (StudentID, FirstName, LastName, Age, GPA)
VALUES
    (1, 'Laxman', 'Rathod', 20, 3.5),
    (2, 'Padma', 'Chauhan', 22, 3.9),
    (3, 'Hari', 'Singh', 21, 3.2);

In [4]:
SELECT * FROM Student

StudentID,FirstName,LastName,Age,GPA
1,Laxman,Rathod,20,3.50
2,Padma,Chauhan,22,3.90
3,Hari,Singh,21,3.20

### **3\. Understanding ALTER Command**

\- In MS SQL Server, the ALTER command is used to modify existing database objects such as tables, columns, constraints, views, or procedures. It allows you to make changes to the structure of the database without dropping and recreating the object.

\- **Key Point**: They don't change the data itself, but how it's organized.

### **4\. Common ALTER Commands**

**a. ALTER TABLE (Add a new column)**

  

\-- **Syntax**

ALTER TABLE table\_name

ADD column\_name datatype;

In [5]:
-- Example
ALTER TABLE Student
ADD PhoneNumber VARCHAR(15);

In [6]:
SELECT * FROM Student

StudentID,FirstName,LastName,Age,GPA,PhoneNumber
1,Laxman,Rathod,20,3.50,NULL
2,Padma,Chauhan,22,3.90,NULL
3,Hari,Singh,21,3.20,NULL

**b. ALTER TABLE (Modify column data type)**

  

**\-- Syntax**

ALTER TABLE table\_name

ALTER COLUMN column\_name new\_datatype;

In [7]:
-- Example
ALTER TABLE Student
ALTER COLUMN GPA DECIMAL(4, 2);

**c. ALTER TABLE (Drop a column)**

  

**\-- Syntax**

ALTER TABLE table\_name

DROP COLUMN column\_name;

In [8]:
-- Example
ALTER TABLE Student
DROP COLUMN Age;

In [9]:
SELECT * FROM Student

StudentID,FirstName,LastName,GPA,PhoneNumber
1,Laxman,Rathod,3.50,NULL
2,Padma,Chauhan,3.90,NULL
3,Hari,Singh,3.20,NULL

**d. Adding a Constraint:**

  

  

**\-- Syntax**

ALTER TABLE table\_name

ADD CONSTRAINT constraint\_name

CHECK (condition);

In [10]:
--  Example: Add a CHECK constraint to ensure GPA is within a specific range.
ALTER TABLE Student
ADD CONSTRAINT CHK_GPA_Range
CHECK (GPA >= 0 AND GPA <= 4.0);

In [12]:
INSERT INTO Student (StudentID, FirstName, LastName, GPA)
VALUES (4, 'Varsha', 'A', 4.5)


-- NOTE : On executing it will give error because we are trying to 
-- insert GPA value of more than 4.0, therby the above added constraint dosent allow us

: Msg 547, Level 16, State 0, Line 1
The INSERT statement conflicted with the CHECK constraint "CHK_GPA_Range". The conflict occurred in database "DataScienceLearnersHub", table "dbo.Student", column 'GPA'.

**e. <span style="color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;; font-size: 13px;">Dropping a Constraint:</span>**

  

**\-- Syntax**

ALTER TABLE table\_name

DROP CONSTRAINT constraint\_name;

In [13]:
-- Example: Drop the previously added CHECK constraint
ALTER TABLE Student
DROP CONSTRAINT CHK_GPA_Range;

In [14]:
-- NOTE : Now since we have dropped the constraint so now we can enter 
-- GPA value of more than 4.0 also

INSERT INTO Student (StudentID, FirstName, LastName, GPA)
VALUES (4, 'Varsha', 'A', 4.5)

In [15]:
SELECT * FROM Student

StudentID,FirstName,LastName,GPA,PhoneNumber
1,Laxman,Rathod,3.50,NULL
2,Padma,Chauhan,3.90,NULL
3,Hari,Singh,3.20,NULL
4,Varsha,A,4.50,NULL

### **5. Practical applications of ALTER Command**

- **Schema Evolution:** When you need to add or modify columns to adapt to changing business requirements.
- **Data Migration:** Altering tables to accommodate data changes or moving data between columns.
- **Performance Tuning:** Modifying indexes or constraints for better query performance.

### **6. Peculiarities and Considerations for ALTER Commands**

- **Locking:** Some ALTER operations may require exclusive locks, impacting concurrent access.
- **Dependencies:** Be mindful of dependencies, especially when altering primary key columns or dropping columns.

### **7. Most common mistakes done while using ALTER Commands**

- **Not checking dependencies:** Forgetting to check for dependencies before altering an object.
- **No backup:** Making changes without a backup can lead to data loss if something goes wrong.

### **8. Handson**

#### Question 1:
Add a new column called `Email` of type `VARCHAR(100)` to the `Student` table.

#### Solution:
```sql
ALTER TABLE Student
ADD Email VARCHAR(100);
```

#### Question 2:
Modify the data type of the `Age` column to `SMALLINT` in the `Student` table.

#### Solution:
```sql
ALTER TABLE Student
ALTER COLUMN Age SMALLINT;
```

#### Question 3:
Remove the `PhoneNumber` column from the `Student` table.

#### Solution:
```sql
ALTER TABLE Student
DROP COLUMN PhoneNumber;
```

### **9. Practice Questions**

#### Question 1:
Add a new column named `Course` with data type `VARCHAR(50)` to the existing table named `Enrollment`.

#### Question 2:
Modify the data type of the column `BirthDate` in the table `Employee` to `DATE`.

#### Question 3:
Remove the primary key constraint named `PK_ProductID` from the table `Product`.

#### Question 4:
Add a NOT NULL constraint to the column `Email` in the table `Customer`.

#### Question 5:
Drop the unique constraint named `UQ_StudentID` from the table `Student`.

#### Question 6:
Add a foreign key constraint named `FK_DepartmentID` to the column `DepartmentID` in the table `Employee`, referencing the `Department` table.

#### Question 7:
Remove the default constraint named `DF_Status` from the column `Status` in the table `Order`.

#### Question 8:
Add a check constraint named `CHK_Salary` to ensure that the column `Salary` in the table `Employee` is greater than 0.

#### Question 9:
Modify the column `City` in the table `Address` to have a maximum length of 100 characters.

#### Question 10:
Remove the column `Discount` from the table `Invoice`.

### **10. Solutions to above questions**

#### Solutions:

1.
```sql
ALTER TABLE Enrollment
ADD Course VARCHAR(50);
```

2.
```sql
ALTER TABLE Employee
ALTER COLUMN BirthDate DATE;
```

3.
```sql
ALTER TABLE Product
DROP CONSTRAINT PK_ProductID;
```

4.
```sql
ALTER TABLE Customer
ALTER COLUMN Email VARCHAR(255) NOT NULL;
```

5.
```sql
ALTER TABLE Student
DROP CONSTRAINT UQ_StudentID;
```

6.
```sql
ALTER TABLE Employee
ADD CONSTRAINT FK_DepartmentID
FOREIGN KEY (DepartmentID)
REFERENCES Department(DepartmentID);
```

7.
```sql
ALTER TABLE Order
DROP CONSTRAINT DF_Status;
```

8.
```sql
ALTER TABLE Employee
ADD CONSTRAINT CHK_Salary
CHECK (Salary > 0);
```

9.
```sql
ALTER TABLE Address
ALTER COLUMN City VARCHAR(100);
```

10.
```sql
ALTER TABLE Invoice
DROP COLUMN Discount;
```