# **Data Science Learners Hub**

**Module : SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

## **Topic : Table Valued Functions (TVFs)**

#### Explanation:

Table Valued Functions (TVFs) in MS SQL Server are user-defined functions that return a table as a result. They play a crucial role in enhancing code modularity and reusability, allowing developers to encapsulate complex queries.

#### Definition:

A Table Valued Function is a user-defined function that returns a table as its result set. It can be used in the FROM clause of a SELECT statement, making it act similar to a regular table.

#### Importance in SQL:

Table Valued Functions are essential in SQL as they enable the reuse of logic and calculations in queries. They provide a modular approach to data retrieval, making the code more maintainable and scalable.

#### Real-World Application:

Consider a scenario where a Table Valued Function is used to calculate the total cost of items in a shopping cart. The function could take the item details as parameters and return a table with the calculated total cost for each item.

#### Syntax for Table Valued Functions:

```sql
-- Inline Table Valued Function Syntax
CREATE FUNCTION dbo.GetEmployeesByDepartment
(
    @DepartmentID INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM Employee
    WHERE DepartmentID = @DepartmentID
);
```

#### Considerations:

- Choose appropriate data types for parameters and the return type.
- Inline functions are generally more efficient for simple queries.
- Multi-Statement functions allow for more complex logic but might have performance implications.

#### Common Mistakes:

- Incorrectly defining the table structure in the RETURNS clause.
- Using the wrong data types for parameters.

#### Create Table and Generate Insert Statements:

In [1]:
USE DataScienceLearnersHub

In [6]:
CREATE TABLE Employee (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT
);

INSERT INTO Employee VALUES (1, 'Laxman', 'Rathod', 101);
INSERT INTO Employee VALUES (2, 'Vijay', 'Jones', 102);
INSERT INTO Employee VALUES (3, 'Jayanthan', 'M', 101);

In [7]:
SELECT * FROM Employee

EmployeeID,FirstName,LastName,DepartmentID
1,Laxman,Rathod,101
2,Vijay,Jones,102
3,Jayanthan,M,101

In [8]:
-- Inline Table Valued Function Syntax
CREATE FUNCTION dbo.GetEmployeesByDepartment
(
    @DepartmentID INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM Employee
    WHERE DepartmentID = @DepartmentID
);

#### Practice Questions and Solutions:

1. **Question 1:**
   How would you call the "GetEmployeesByDepartment" function to retrieve all employees in the IT department (DepartmentID = 101)?

   **Solution:**

In [9]:
   SELECT *
   FROM dbo.GetEmployeesByDepartment(101);

EmployeeID,FirstName,LastName,DepartmentID
1,Laxman,Rathod,101
3,Jayanthan,M,101

2. **Question 2:**
   Modify the function "GetEmployeesByDepartment" to include an additional parameter for filtering employees based on their job title.

   **Solution:**

In [14]:
ALTER TABLE Employee
ADD JobTitle VARCHAR(50)

In [15]:
SELECT * FROM Employee

EmployeeID,FirstName,LastName,DepartmentID,JobTitle
1,Laxman,Rathod,101,NULL
2,Vijay,Jones,102,NULL
3,Jayanthan,M,101,NULL

In [16]:
   ALTER FUNCTION dbo.GetEmployeesByDepartment
   (
       @DepartmentID INT,
       @JobTitle VARCHAR(50)
   )
   RETURNS TABLE
   AS
   RETURN
   (
       SELECT *
       FROM Employee
       WHERE DepartmentID = @DepartmentID
       AND JobTitle = @JobTitle
   );

3. **Question 3:**
   Create a new Table Valued Function named "GetManagers" that returns employees who are managers.

   **Solution:**
   ```sql
   CREATE FUNCTION dbo.GetManagers
   RETURNS TABLE
   AS
   RETURN
   (
       SELECT *
       FROM Employee
       WHERE IsManager = 1
   );
   ```

#### Homework Exercises:

1. **Exercise 1:**
   Assign a task that requires students to create a Table Valued Function named "CalculateDiscount" that takes item details as parameters and returns a table with the discounted price for each item.

2. **Exercise 2:**
   Challenge students to modify the "CalculateDiscount" function to handle additional parameters for applying different types of discounts.

3. **Exercise 3:**
   Generate a scenario where students need to create a new Table Valued Function for a specific calculation, such as calculating the average salary of employees in a department.

#### Some Facts:

- Table Valued Functions play a crucial role in code modularity, making it easier to maintain and manage SQL code.
- They are particularly useful when dealing with complex queries that need to be reused across multiple parts of an application.