# **Data Science Learners Hub**

**Module : SQL**

**Topic :** **JOINS in SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

## **JOINS in SQL**

In [1]:
USE DataScienceLearnersHub

### 1. Create two simple tables to illustrate examples for JOINs

In [10]:
-- Create the first table
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT
);

In [11]:
-- Create the second table
CREATE TABLE Departments (
    DepartmentID INT PRIMARY KEY,
    DepartmentName VARCHAR(50)
);

### 2. Generate insert queries to insert values into the newly created tables

In [13]:
-- Insert values into the Employees table
INSERT INTO Employees (EmployeeID, FirstName, LastName, DepartmentID)
VALUES
    (1, 'Laxman', 'Rathod', 101),
    (2, 'Padma', 'Chauhan', 102),
    (3, 'Vamshi', 'Singh', 101);

In [14]:
-- Insert values into the Departments table
INSERT INTO Departments (DepartmentID, DepartmentName)
VALUES
    (101, 'IT'),
    (102, 'HR');

In [3]:
SELECT * FROM Employees

EmployeeID,FirstName,LastName,DepartmentID
1,Laxman,Rathod,101
2,Padma,Chauhan,102
3,Vamshi,Singh,101

In [4]:
SELECT * FROM DEpartments

DepartmentID,DepartmentName
101,IT
102,HR

### 3. Understanding JOINs

In MS SQL Server, JOINS are used to combine rows from two or more tables based on related columns. They enable you to retrieve data from multiple tables in a single query.

### 4. Types of JOINs

#### a. INNER JOIN

- Returns only rows where there's a match in both tables based on the specified join condition.

```sql
-- Syntax
SELECT *
FROM table1
INNER JOIN table2 ON table1.column_name = table2.column_name;
```

In [2]:
-- Example
SELECT *
FROM Employees
INNER JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;

EmployeeID,FirstName,LastName,DepartmentID,DepartmentID,DepartmentName
1,Laxman,Rathod,101,101,IT
2,Padma,Chauhan,102,102,HR
3,Vamshi,Singh,101,101,IT

#### b. LEFT JOIN (or LEFT OUTER JOIN)

- Returns all rows from the left table, and matching rows from the right table.
- If there's no match in the right table, NULL values are used for its columns.

```sql
-- Syntax
SELECT *
FROM table1
LEFT JOIN table2 ON table1.column_name = table2.column_name;
```

In [3]:
-- Example
SELECT *
FROM Employees
LEFT JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;

EmployeeID,FirstName,LastName,DepartmentID,DepartmentID,DepartmentName
1,Laxman,Rathod,101,101,IT
2,Padma,Chauhan,102,102,HR
3,Vamshi,Singh,101,101,IT

#### c. RIGHT JOIN (or RIGHT OUTER JOIN)

- Opposite of LEFT JOIN; returns all rows from the right table, and matching rows from the left table.

```sql
-- Syntax
SELECT *
FROM table1
RIGHT JOIN table2 ON table1.column_name = table2.column_name;
```

In [4]:
-- Example
SELECT *
FROM Employees
RIGHT JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;

EmployeeID,FirstName,LastName,DepartmentID,DepartmentID,DepartmentName
1,Laxman,Rathod,101,101,IT
3,Vamshi,Singh,101,101,IT
2,Padma,Chauhan,102,102,HR

#### d. FULL JOIN (or FULL OUTER JOIN)

- Returns all rows from both tables, regardless of whether there's a match.

```sql
-- Syntax
SELECT *
FROM table1
FULL JOIN table2 ON table1.column_name = table2.column_name;
```

In [5]:
-- Example
SELECT *
FROM Employees
FULL JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;

EmployeeID,FirstName,LastName,DepartmentID,DepartmentID,DepartmentName
1,Laxman,Rathod,101,101,IT
2,Padma,Chauhan,102,102,HR
3,Vamshi,Singh,101,101,IT

#### e. SELF JOIN:

A SELF JOIN is a regular join, but the table is joined with itself. This is useful when you want to combine rows with related data within the same table.

-- Syntax:
```sql
SELECT *
FROM table1
JOIN table2 ON table1.column_name = table2.column_name;
```

In [3]:
-- Example: Retrieve a list of employees along with their managers:

SELECT e.EmployeeID, e.FirstName, e.LastName, e.DepartmentID, m.EmployeeID AS ManagerID, m.FirstName AS ManagerFirstName, m.LastName AS ManagerLastName
FROM Employees e
INNER JOIN Employees m ON e.DepartmentID = m.DepartmentID AND e.EmployeeID <> m.EmployeeID;

EmployeeID,FirstName,LastName,DepartmentID,ManagerID,ManagerFirstName,ManagerLastName
1,Laxman,Rathod,101,3,Vamshi,Singh
3,Vamshi,Singh,101,1,Laxman,Rathod

#### Explanation :
- In the above example, we're joining the `Employees` table with itself based on the `DepartmentID`. We alias the table as `e` for employees and `m` for managers. The condition `e.EmployeeID <> m.EmployeeID` ensures that we don't match an employee with themselves.

#### f. CROSS JOIN:

A CROSS JOIN produces a Cartesian product of two tables. It combines each row from the first table with every row from the second table, resulting in every possible combination of rows.

-- Syntax:
```sql
SELECT *
FROM table1
CROSS JOIN table2;
```

In [6]:
-- Example: Retrieve a list of all possible combinations of employees and departments:

SELECT *
FROM Employees
CROSS JOIN Departments;

EmployeeID,FirstName,LastName,DepartmentID,DepartmentID,DepartmentName
1,Laxman,Rathod,101,101,IT
2,Padma,Chauhan,102,101,IT
3,Vamshi,Singh,101,101,IT
1,Laxman,Rathod,101,102,HR
2,Padma,Chauhan,102,102,HR
3,Vamshi,Singh,101,102,HR

#### Explanation :
- In the above example, the result will contain all possible combinations of rows from the `Employees` table with rows from the `Departments` table. The number of rows in the result will be the product of the number of rows in each table.

### 5. Practical application of JOINs

- **Employee-Department Relationship:** Retrieving information about employees and their respective departments.
- **Order-Product Relationship:** Obtaining details about orders along with the products ordered.
- **Customer-Address Relationship:** Combining customer information with their addresses.
- **Social media relationships**: Map connections between users in social networks.

### 6. Peculiarities and Considerations for JOINs

- **Performance:** JOINs can impact performance, especially with large datasets, so it's essential to use them judiciously.
- **Indexes:** Proper indexing on join columns can significantly improve performance
- **Join conditions**: Ensure correct column matches for accurate results.
- **Table order**: Left and right tables can impact results in some JOIN types.
- **Null values**: Handle potential NULL values appropriately.

### 7. Most Common Mistakes with JOINs

- **Forgetting ON Clause:** Forgetting to specify the conditions in the ON clause.
- **Incorrect Join Type:** Using the wrong type of JOIN for the desired result.
- **Incorrect join condition**: Using the wrong columns for the join.
- **Missing join condition**: Forgetting to specify the join condition altogether.
- **Using INNER JOIN when LEFT or RIGHT JOIN is needed**: Not considering the desired output for unmatched rows.

### 8. Handson

#### Question 1:
Retrieve a list of all employees along with their department names.

In [9]:
SELECT *
FROM Employees
INNER JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;

EmployeeID,FirstName,LastName,DepartmentID,DepartmentID,DepartmentName
1,Laxman,Rathod,101,101,IT
2,Padma,Chauhan,102,102,HR
3,Vamshi,Singh,101,101,IT

#### Question 2:
Get a list of all departments, including those without any employees.

In [7]:
SELECT *
FROM Departments
LEFT JOIN Employees ON Departments.DepartmentID = Employees.DepartmentID;

DepartmentID,DepartmentName,EmployeeID,FirstName,LastName,DepartmentID
101,IT,1,Laxman,Rathod,101
101,IT,3,Vamshi,Singh,101
102,HR,2,Padma,Chauhan,102

#### Question 3:
Retrieve a list of employees and their departments, including employees without a department.

In [8]:
SELECT *
FROM Employees
FULL JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;

EmployeeID,FirstName,LastName,DepartmentID,DepartmentID,DepartmentName
1,Laxman,Rathod,101,101,IT
2,Padma,Chauhan,102,102,HR
3,Vamshi,Singh,101,101,IT

### 9\. Practice Exercise

#### Question 1:
Retrieve a list of employees who do not belong to any department.

#### Question 2:
Get a list of all departments along with the count of employees in each department.

#### Question 3:
Retrieve the first and last names of employees along with their corresponding department names.