# **`Data Science Learners Hub`**

**Module : SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

### **# `TRY_CAST`, `TRY_CONVERT`, and `TRY_PARSE` in SQL:**

**1. Introduction:**

In SQL, when we want to convert or parse data from one type to another, we use functions like `CAST`, `CONVERT`, and `PARSE`. However, sometimes the conversion might fail, leading to errors. That's where the `TRY_CAST`, `TRY_CONVERT`, and `TRY_PARSE` functions come in—they attempt the conversion and return `NULL` if it fails, preventing your query from breaking.

**2. Why Learn This Topic:**

Learning these functions is crucial because they help handle potential errors during data conversion. In real-world scenarios, you might encounter data in unexpected formats, and these functions allow you to gracefully handle such situations without crashing your SQL statements.

**3. Real-world Applications:**

Consider a scenario where you are dealing with user-input data in a web form. Users may input dates, numbers, or other information in various formats. Using `TRY_CAST`, `TRY_CONVERT`, and `TRY_PARSE` can help ensure that your database doesn't reject entries due to format discrepancies, providing a smoother user experience.

**4. Syntax and Types:**

a. **`TRY_CAST`:**
   ```sql
   TRY_CAST ( expression AS data_type )
   ```
   Example:
   ```sql
   SELECT TRY_CAST('2022-01-01' AS DATE) AS ConvertedDate;
   ```

b. **`TRY_CONVERT`:**
   ```sql
   TRY_CONVERT ( data_type, expression [, style] )
   ```
   Example:
   ```sql
   SELECT TRY_CONVERT(DATE, '2022-01-01', 120) AS ConvertedDate;
   ```

c. **`TRY_PARSE`:**
   ```sql
   TRY_PARSE ( string_value AS data_type [ USING culture ] )
   ```
   Example:
   ```sql
   SELECT TRY_PARSE('2022-01-01' AS DATE) AS ConvertedDate;
   ```

**5. Practical Applications:**

- **Handling mixed-type columns**: Safely convert values during analysis.

- **User input validation**: Prevent errors from invalid data entry.

- **Data cleaning**: Identify and correct invalid data types.

- **Data integration**: Handle inconsistencies between data sources.

**6. Considerations:**

- These functions return `NULL` if the conversion fails, so always check for `NULL` in your subsequent logic.
- The optional parameters, such as `style` for `TRY_CONVERT` and `culture` for `TRY_PARSE`, provide additional control over the conversion process.

**7. Common Mistakes:**

A common mistake is assuming that these functions always return the expected result. It's essential to handle the potential `NULL` result and implement appropriate logic.

**8. Hands-on Experience:**

Let's create a sample table and use these functions:

In [1]:
USE DataScienceLearnersHub

In [1]:
-- Creating a Sample Table
CREATE TABLE student_scores (
    student_id INT PRIMARY KEY,
    math_score VARCHAR(10)
);

In [11]:
-- Inserting Sample Data
INSERT INTO student_scores VALUES (1, '90'), (2, 'ABC'), (3, '85'), (4, '95');

In [12]:
SELECT * FROM student_scores

student_id,math_score
1,90
2,ABC
3,85
4,95

**Question 1. Handling Numeric Values:**
   - Use `TRY_CAST` to convert `math_score` to an integer, and handle any conversion errors.

In [13]:
SELECT student_id, TRY_CAST(math_score AS INT) AS converted_math_score FROM student_scores;

student_id,converted_math_score
1,90
2,NULL
3,85
4,95

**Question 2. Style in Date Conversion:**
   - Use `TRY_CONVERT` to convert `math_score` to an integer, specifying a style of your choice.

In [14]:
INSERT INTO student_scores VALUES (5, '90'), (6, 'ABC'), (7, '85');

In [15]:
SELECT * FROM student_scores

student_id,math_score
1,90
2,ABC
3,85
4,95
5,90
6,ABC
7,85

In [16]:
SELECT student_id, TRY_CONVERT(INT, math_score, 1) AS converted_math_score FROM student_scores;

student_id,converted_math_score
1,90
2,NULL
3,85
4,95
5,90
6,NULL
7,85

**Question 3. Cultural Date Parsing:**
   - Use `TRY_PARSE` to convert `math_score` to a date, specifying a culture of your choice.

In [17]:
SELECT student_id, TRY_PARSE(math_score AS DATE USING 'en-US') AS converted_math_score FROM student_scores;

: Msg 10347, Level 16, State 1, Line 1
Common Language Runtime(CLR) is not enabled on this instance.

**Question 4. Aggregate Function with TRY:**
   - Use an aggregate function (e.g., `SUM`) along with `TRY_CAST` to calculate the total math scores, handling any conversion errors.

In [18]:
SELECT SUM(TRY_CAST(math_score AS INT)) AS total_math_score FROM student_scores;

total_math_score
445

**9. Homework Assignment:**

a. **Advanced Conversion:**
   - Implement a scenario where you need to convert a string to a decimal with precision. Use `TRY_CAST` and handle the errors appropriately.

b. **Conditional Logic:**
   - Create a query that includes a conditional statement based on the result of `TRY_CONVERT`. For example, print 'Pass' if the conversion is successful and 'Fail' otherwise.

c. **Custom Handling:**
   - Implement custom logic for handling conversion errors. For instance, if a score is not a valid number, set it to a default value.

d. **Multiple Conversions:**
   - Work with a scenario where you need to perform multiple conversions in a single query, using a combination of these functions.

e. **Handling Date Range:**
   - Convert a date string to a date type using `TRY_PARSE` and ensure that the result falls within a specified date range.

**`Note` :** Solutions provided at the end. First try by urself

**10. Do you know ?:**

Did you know that these functions are a part of T-SQL enhancements introduced in SQL Server 2012? They provide more robust ways to handle data conversions and parsing, making it easier for developers to deal with diverse data formats in a SQL Server environment. Always check the documentation for the specific version you are using to ensure compatibility and access to the latest features.

**11. Solution for the Homework Assignment:**

**Question (a). Advanced Conversion:**
   - Implement a scenario where you need to convert a string to a decimal with precision. Use `TRY_CAST` and handle the errors appropriately.

In [19]:
 SELECT student_id, TRY_CAST(math_score AS DECIMAL(5,2)) AS converted_math_score FROM student_scores;

student_id,converted_math_score
1,90.00
2,NULL
3,85.00
4,95.00
5,90.00
6,NULL
7,85.00

**Question (b). Conditional Logic:**
   - Create a query that includes a conditional statement based on the result of `TRY_CONVERT`. For example, print 'Pass' if the conversion is successful and 'Fail' otherwise.

In [20]:
SELECT 
    student_id,
    CASE 
        WHEN TRY_CONVERT(INT, math_score) IS NOT NULL THEN 'Pass'
        ELSE 'Fail'
    END AS result
FROM student_scores;

student_id,result
1,Pass
2,Fail
3,Pass
4,Pass
5,Pass
6,Fail
7,Pass

**Question (c). Custom Handling:**
   - Implement custom logic for handling conversion errors. For instance, if a score is not a valid number, set it to a default value.

In [21]:
SELECT 
    student_id,
    COALESCE(TRY_CAST(math_score AS INT), -1) AS converted_math_score
FROM student_scores;

student_id,converted_math_score
1,90
2,-1
3,85
4,95
5,90
6,-1
7,85

**Question (d). Multiple Conversions:**
   - Work with a scenario where you need to perform multiple conversions in a single query, using a combination of these functions.

In [22]:
SELECT 
    student_id,
    TRY_CAST(math_score AS INT) AS converted_math_score,
    TRY_PARSE(math_score AS DATE USING 'en-US') AS parsed_date
FROM student_scores;

: Msg 10347, Level 16, State 1, Line 1
Common Language Runtime(CLR) is not enabled on this instance.

**Question (e). Handling Date Range:**
   - Convert a date string to a date type using `TRY_PARSE` and ensure that the result falls within a specified date range.

In [23]:
SELECT 
    student_id,
    TRY_PARSE(math_score AS DATE USING 'en-US') AS parsed_date
FROM student_scores
WHERE TRY_PARSE(math_score AS DATE USING 'en-US') BETWEEN '2022-01-01' AND '2022-12-31';

: Msg 10347, Level 16, State 1, Line 1
Common Language Runtime(CLR) is not enabled on this instance.