# **Data Science Learners Hub**

**Module : SQL**

**Topic :** **Playground**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

In [1]:
USE DataScienceLearnersHub

In [2]:
SELECT * FROM Emp

id,name,age,gender,salary,department,MonthlySalary,EmailAddress,FullName
1,Rajesh,30,Male,60000.00,IT,5000.000000,Rajesh_1@company.com,Rajesh IT
3,Laxman,35,Male,70000.75,Finance,5833.395833,Laxman_3@company.com,Laxman Finance
4,Ganga,28,Female,48000.25,Marketing,4000.020833,Ganga_4@company.com,Ganga Marketing
5,Nikhil,32,Male,72000.00,IT,6000.000000,Nikhil_5@company.com,Nikhil IT
6,Sarita,29,Female,58000.75,HR,4833.395833,Sarita_6@company.com,Sarita HR
7,Bunny,40,Male,85000.50,Finance,7083.375000,Bunny_7@company.com,Bunny Finance
8,Namrata,26,Female,50000.50,Marketing,4166.708333,Namrata_8@company.com,Namrata Marketing
9,Abhiram,38,Male,78000.25,IT,6500.020833,Abhiram_9@company.com,Abhiram IT
10,Tikram,31,Female,62000.00,Finance,5166.666666,Tikram_10@company.com,Tikram Finance
11,Ramulu,58,Male,178000.25,IT,14833.354166,Ramulu_11@company.com,Ramulu IT
12,Bala,51,Female,162000.00,Finance,13500.000000,Bala_12@company.com,Bala Finance
16,Arjun,31,NULL,NULL,NULL,NULL,Arjun_16@company.com,Arjun

In [4]:
CREATE TABLE delete_me
    (
        ename VARCHAR(20),
        age INT
    )

In [5]:
INSERT INTO delete_me
SELECT name, age FROM Emp

In [7]:
INSERT INTO delete_me(ename)
SELECT name FROM Emp